<template>
  <popup-layout
    Width="610px"
    @close="close"
    title="Barchasi"
    :isVisible="isVisible"
    isFooter
  >
    <template #body>
      <div class="popup-body-view mb-16">
        <h3>Imloviy xato</h3>
        <h2>{{ detail.mistake }}</h2>
      </div>
      <div class="popup-body-view mb-16">
        <h3>Tavsif</h3>
        <h2>{{ detail.description }}</h2>
      </div>
      <div class="popup-body-view mb-16">
        <h3>Yuborilgan vaqti</h3>
        <h2>{{ detail.created_at }}</h2>
      </div>
      <div class="popup-body-view mb-16">
        <h3>Xato Xavola</h3>
        <h2
          class="pointer"
          @click="
            $router.push({
              path: `${detail.page_url}`,
            })
          "
        >
          O'tish
        </h2>
      </div>
      <div class="popup-body-view mb-16">
        <h3>Status</h3>
        <a-switch v-model="detail.fixed" />
      </div>
    </template>
    <template #footer>
      <a-button @click="close" class="grey">Ortga </a-button>
      <a-button @click="Update" class="blue"> Saqlash </a-button>
    </template>
  </popup-layout>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    isVisible: {
      type: Boolean,
      default() {
        return false;
      },
    },
    value: {
      type: Object,
      default() {
        return false;
      },
    },
  },
  data() {
    return {
      detail: {},
    };
  },
  computed: {},
  created() {
    this.detail = { ...this.value };
  },
  methods: {
    ...mapActions("admin/mistake", ["updateDetail"]),

    close() {
      this.$emit("close");
    },
    onChangeLang(value) {
      this.activeLang = value;
    },
    async Update() {
      try {
        await this.updateDetail({
          id: this.value.id,
          form: this.detail,
        });
        this.close();
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>

<style></style>
