<template>
  <div class="pages form">
    <div class="form-body-border"></div>

    <div class="pages-body">
      <div class="pages-menu-tabs" v-if="form.is_static">
        <div
          class="pages-menu-tabs-item"
          @click="activeTab = 1"
          :class="{ active: activeTab == 1 }"
        >
          <SvgIcon name="content" /><span>Tarkib</span>
        </div>
        <div
          class="pages-menu-tabs-item"
          @click="activeTab = 2"
          :class="{ active: activeTab == 2 }"
        >
          <SvgIcon name="photo" /><span>Rasm</span>
        </div>
        <div
          class="pages-menu-tabs-item"
          @click="activeTab = 3"
          :class="{ active: activeTab == 3 }"
        >
          <SvgIcon name="file" /><span>Hujjatlar</span>
        </div>
      </div>
      <div class="form-body-border m-20" v-if="form.is_static"></div>
      <div class="form-body">
        <a-form-model
          ref="form"
          :model="form"
          :rules="rules"
          class="mb-24"
          v-if="activeTab == 1"
        >
          <a-row type="flex" :gutter="[16, 24]">
            <a-col span="16">
              <a-form-model-item label="Tillar:">
                <lang class="popup-body-lang" @changed="onChangeLang" />
              </a-form-model-item>
            </a-col>
            <a-col span="16">
              <a-form-model-item
                :class="{ active: form.name[activeLang] }"
                has-feedback
                prop="name"
                label="Menyu nomi"
              >
                <a-input
                  @input="sanitizeTitle(form.name)"
                  placeholder="Menyu nomi"
                  v-model.trim="form.name[activeLang]"
                />
                <span class="ant-my-placeholder">Menyu nomi:</span>
              </a-form-model-item>
            </a-col>

            <a-col span="16">
              <a-form-model-item :class="{ active: form.category }" label="Gruppa:">
                <a-input placeholder="Gruppa" v-model="form.category" />
                <span class="ant-my-placeholder">Gruppa</span>
              </a-form-model-item>
            </a-col>
            <a-col span="16">
              <a-form-model-item :class="{ active: form.url }" label="URL:">
                <a-input placeholder="URL" v-model="form.url" />
                <span class="ant-my-placeholder">URL:</span>
              </a-form-model-item>
            </a-col>

            <a-col span="16">
              <a-form-model-item
                :class="{ active: form.parent_id }"
                label="Menyuni tanlang:"
              >
                <a-select placeholder="Menyuni tanlang" v-model="form.parent_id">
                  <a-select-option v-for="item in list" :key="item.id" :value="item.id">
                    {{ item.name }}
                  </a-select-option>
                  <template #suffixIcon>
                    <SvgIcon name="angle-down" />
                  </template>
                </a-select>
                <span class="ant-my-placeholder">Menyuni tanlang:</span>
              </a-form-model-item>
            </a-col>

            <a-col span="16">
              <a-form-model-item :class="{ active: form.username }" label="Pozitsiya:">
                <a-input
                  type="number"
                  placeholder="Pozitsiya"
                  v-model.number="form.position"
                />
                <span class="ant-my-placeholder">Pozitsiya:</span>
              </a-form-model-item>
            </a-col>
            <a-col span="16">
              <a-form-model-item label="Statik:" class="ant-my-checkbox">
                <a-switch v-model="form.is_static" />
              </a-form-model-item>
            </a-col>
            <a-col span="16">
              <a-form-model-item label="Faol" class="ant-my-checkbox">
                <a-switch v-model="form.status" />
              </a-form-model-item>
            </a-col>
            <a-col span="16">
              <a-form-model-item label="Kategoriyasi mavjudmi?" class="ant-my-checkbox">
                <a-switch v-model="form.has_category" />
              </a-form-model-item>
            </a-col>
            <a-col span="16">
              <a-form-model-item :class="{ active: form.slug }" label="Alias:">
                <a-input placeholder="Alias" v-model.trim="form.slug" />
                <span class="ant-my-placeholder">Alias:</span>
              </a-form-model-item>
            </a-col>
            <a-col span="24" v-if="form.is_static">
              <a-form-model-item
                style="align-items: flex-start"
                :class="{ active: form.slug }"
                label="Tarkib:"
              >
                <CustomEditor v-model="form.content[activeLang]" />
              </a-form-model-item>
            </a-col>
          </a-row>
          <a-row>
            <a-col span="24"> </a-col>
          </a-row>
        </a-form-model>
        <FormUploadFile
          @change="changeFile($event, 'passport_file')"
          :file="form.passport_file"
          :title="$t('UploadPassport')"
          v-if="activeTab == 2"
        />
      </div>
      <div class="form-body-action">
        <a-button class="blue on-submit" @click="onSubmit"> Saqlash </a-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "DLDUpdate",

  data() {
    return {
      activeTab: 1,
      ID: this.$route.params.id,
      activeLang: "uz",
      form: {
        name: {
          uz: "",
          oz: "",
          ru: "",
        },
        content: {
          uz: "",
          oz: "",
          ru: "",
        },

        category: "",
        url: "",
        position: null,
        is_static: false,
        status: false,
        has_category: false,
        parent_id: null,
      },
      rules: {
        // username: [{ required: true, trigger: "change", message: "To'ldirilishi shart" }],
        // password: [{ required: true, trigger: "change", message: "To'ldirilishi shart" }],
        // phone_number: [
        //   { required: true, trigger: "change", message: "To'ldirilishi shart" },
        // ],
        // role: [{ required: true, trigger: "change", message: "To'ldirilishi shart" }],
      },
    };
  },
  computed: {
    ...mapGetters("admin/menu", ["list", "count"]),
    params() {
      return {};
    },
  },

  async created() {
    await this.FetchData();
  },

  methods: {
    ...mapActions("admin/menu", ["fetchList", "postDetail", "getDetail", "updateDetail"]),
    editorChangeHandler(e) {
      const w = e ? e.replace(`<p>&nbsp;</p>\n</details>`, "</details>") : e;
      return w;
    },
    sanitizeTitle(val) {
      let title = val && val.uz;
      if (title) {
        let slug = "";
        // Change to lower case
        let titleLower = title.toLowerCase();
        // Letter "e"
        slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
        // Letter "a"
        slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
        // Letter "o"
        slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
        // Letter "u"
        slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
        // Letter "d"
        slug = slug.replace(/đ/gi, "d");
        // Trim the last whitespace
        slug = slug.replace(/\s*$/g, "");
        // Change whitespace to "-"
        slug = slug.replace(/\s+/g, "-");
        this.form.slug = slug;
        console.log(this.form.slug);
      } else {
        console.log("Invalid");
        this.form.slug = "";
      }
    },
    changeFile(e, key) {
      // this.form[key] = e;
      console.log(e);
    },
    onChangeLang(value) {
      this.activeLang = value;
    },
    async onSubmit() {
      try {
        this.$refs.form.validate(async (valid) => {
          if (valid) {
            if (!this.form.is_static) {
              this.form.content = null;
            }
            console.log(this.form);
            let { status } = await this.updateDetail({
              form: this.form,
              id: this.ID,
            });
            status && this.$message.success("Harakat muvaffaqiyatli bajarildi");
            this.$router.go(-1);
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      } catch (error) {
        console.error(error);
      }
    },
    async FetchData() {
      try {
        await this.fetchList({
          params: { parent: true },
        });
        let res = await this.getDetail({
          id: this.ID,
        });
        this.form = {
          ...res.data,
          name: {
            uz: (res.data && res.data.title && res.data.title.uz) || "",
            oz: (res.data && res.data.title && res.data.title.oz) || "",
            ru: (res.data && res.data.title && res.data.title.ru) || "",
          },
          content: {
            uz: (res.data && res.data.content && res.data.content.uz) || "",
            oz: (res.data && res.data.content && res.data.content.oz) || "",
            ru: (res.data && res.data.content && res.data.content.ru) || "",
          },
        };
        if (res.data.parent_id == 0) {
          this.form.parent_id = null;
        }
        console.log(this.form);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss"></style>
