<template>
  <div>
    <CustomList
      title="Menu"
      :hasFilter="false"
      :createFunc="true"
      @getCreateFunc="createFunc"
    />
    <Recursive :menu="list" @onDelete="deleteItem" @changeStatus="changeStatus" />
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      form: {},
    };
  },
  computed: {
    ...mapGetters("admin/menu", ["list", "count"]),
    params() {
      return {};
    },
  },
  async created() {
    await this.FetchData();
  },
  methods: {
    ...mapActions("admin/menu", [
      "fetchList",
      "deleteMenu",
      "updateDetail",
      "postDetail",
    ]),
    handleClick(e) {
      console.log("click", e);
    },
    async changeStatus(id, status, key) {
      const object = new Object();
      object[key] = !status;
      await this.updateDetail({
        id: id,
        form: object,
      });
      await this.FetchData();
    },
    async deleteItem(id) {
      try {
        await this.deleteMenu({ id: id });
        await this.FetchData();
      } catch (error) {
        console.error(error);
      }
    },
    async FetchData() {
      try {
        this.loading = true;
        await this.fetchList({
          params: {},
        });
        this.loading = false;
      } catch (error) {
        console.log(error);
        this.loading = false;
      }
    },
    async createFunc() {
      try {
        const obj = {
          name: null,
          content: null,
          category: "",
          url: "",
          position: null,
          is_static: false,
          status: false,
          has_category: false,
          parent_id: 0,
        };
        let res = await this.postDetail(obj);
        const { data, status, error } = res;
        if (status) {
          this.$router.push({
            path: `/cabinet/admin/menu/${data.id}/`,
          });
        } else {
          console.error(error);
        }
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>
