<template>
  <div class="pages form">
    <div class="pages-header">
      <h2>{{ update !== "true" ? "Menu yaratish" : "Menu yangilash" }}</h2>
    </div>
    <div class="pages-body">
      <lang class="popup-body-lang" @changed="onChangeLang" />

      <div class="form-body">
        <a-form-model ref="form" :model="form" :rules="rules" class="mb-24">
          <a-row type="flex" :gutter="[16, 24]">
            <a-col span="24"> <h3 class="mb-20">Tarkibi</h3></a-col></a-row
          >
          <a-row type="flex" :gutter="[16, 24]">
            <a-col span="6">
              <a-form-model-item :class="{ active: form.name }" has-feedback prop="name">
                <a-input
                  @input="sanitizeTitle(form.name)" 
                  placeholder="Ism"
                  v-model.trim="form.name[activeLang]"
                />
                <span class="ant-my-placeholder">Menyu nomi:</span>
              </a-form-model-item>
            </a-col>

            <a-col span="6">
              <a-form-model-item :class="{ active: form.category }">
                <a-input placeholder="Gruppa" v-model="form.category" />
                <span class="ant-my-placeholder">Gruppa:</span>
              </a-form-model-item>
            </a-col>
            <a-col span="6">
              <a-form-model-item :class="{ active: form.url }">
                <a-input placeholder="URL" v-model="form.url" />
                <span class="ant-my-placeholder">URL:</span>
              </a-form-model-item>
            </a-col>

            <a-col span="6">
              <a-form-model-item :class="{ active: form.slug }">
                <a-select placeholder="Menyuni tanlang" v-model="form.parent_id">
                  <a-select-option v-for="item in list" :key="item.id" :value="item.id">
                    {{ item.name }}
                  </a-select-option>
                  <template #suffixIcon>
                    <SvgIcon name="angle-down" />
                  </template>
                </a-select>
                <span class="ant-my-placeholder">Menyuni tanlang:</span>
              </a-form-model-item>
            </a-col>

            <a-col span="6">
              <a-form-model-item :class="{ active: form.username }">
                <a-input
                  type="number"
                  placeholder="Pozitsiya"
                  v-model.number="form.position"
                />
                <span class="ant-my-placeholder">Pozitsiya:</span>
              </a-form-model-item>
            </a-col>
            <a-col span="6">
              <a-form-model-item label="Content" class="ant-my-checkbox">
                <a-switch v-model="form.is_static" />
              </a-form-model-item>
            </a-col>
            <a-col span="6">
              <a-form-model-item label="Faol" class="ant-my-checkbox">
                <a-switch v-model="form.status" />
              </a-form-model-item>
            </a-col>
            <a-col span="6">
              <a-form-model-item label="Kategoriyasi mavjudmi?" class="ant-my-checkbox">
                <a-switch v-model="form.has_category" />
              </a-form-model-item>
            </a-col>
            <a-col span="24">
              <a-form-model-item :class="{ active: form.slug }">
                <a-input placeholder="Alias" v-model.trim="form.slug" />
                <span class="ant-my-placeholder">Alias:</span>
              </a-form-model-item>
            </a-col>
          </a-row>
          <div class="form-body-border"></div>
          <a-row v-if="form.is_static">
            <a-col span="24">
              <CustomEditor v-model="form.content[activeLang]" />
            </a-col>
          </a-row>
        </a-form-model>
      </div>
      <div class="form-body-action">
        <a-button class="blue on-submit" @click="onSubmit"> Saqlash </a-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "DLDUpdate",
  data() {
    return {
      update: this.$route.query.update,
      ID: this.$route.params.id,
      activeLang: "uz",
      form: {
        name: {
          uz: "",
          oz: "",
          ru: "",
        },
        content: {
          uz: "",
          oz: "",
          ru: "",
        },
        category: "",
        url: "",
        position: null,
        is_static: false,
        status: false,
        has_category: false,
        parent_id: null,
      },
      rules: {
        // username: [{ required: true, trigger: "change", message: "To'ldirilishi shart" }],
        // password: [{ required: true, trigger: "change", message: "To'ldirilishi shart" }],
        // phone_number: [
        //   { required: true, trigger: "change", message: "To'ldirilishi shart" },
        // ],
        // role: [{ required: true, trigger: "change", message: "To'ldirilishi shart" }],
      },
      //       EditorOptions: {
      //   plugins: "link, image, lists",
      //   height: 400,
      //   branding: false,
      //   automatic_uploads: false,
      //   images_upload_url: "/base64",
      //   // link_list_url: '/base64',
      //   // document_base_url: '/base64',
      //   toolbar:
      //     "undo redo | styleselect | link image lists | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
      // },
    };
  },
  computed: {
    ...mapGetters("admin/menu", ["list", "count"]),
    params() {
      return {};
    },
  },

  async created() {
    await this.FetchData();
  },

  methods: {
    ...mapActions("admin/menu", ["fetchList", "postDetail", "getDetail", "updateDetail"]),
    editorChangeHandler(e) {
      const w = e ? e.replace(`<p>&nbsp;</p>\n</details>`, "</details>") : e;
      return w;
    },
    sanitizeTitle(val) {
      let title = val && val.uz;
      if (title) {
        let slug = "";
        // Change to lower case
        let titleLower = title.toLowerCase();
        // Letter "e"
        slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
        // Letter "a"
        slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
        // Letter "o"
        slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
        // Letter "u"
        slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
        // Letter "d"
        slug = slug.replace(/đ/gi, "d");
        // Trim the last whitespace
        slug = slug.replace(/\s*$/g, "");
        // Change whitespace to "-"
        slug = slug.replace(/\s+/g, "-");
        this.form.slug = slug;
        console.log(this.form.slug);
      } else {
        console.log("Invalid");
        this.form.slug = "";
      }
    },

    onChangeLang(value) {
      this.activeLang = value;
    },
    async onSubmit() {
      try {
        this.$refs.form.validate(async (valid) => {
          if (valid) {
            if (!this.form.is_static) {
              this.form.content = null;
            }
            if (!this.form.parent_id) {
              this.form.parent_id = 0;
            }
            if (this.update == "true") {
              let { status } = await this.updateDetail({
                form: this.form,
                id: this.ID,
              });
              status && this.$message.success("Harakat muvaffaqiyatli bajarildi");
              this.$router.go(-1);
            } else {
              delete this.form.id;
              let { status } = await this.postDetail(this.form);
              status && this.$message.success("Harakat muvaffaqiyatli bajarildi");
              this.$router.go(-1);
            }
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      } catch (error) {
        console.error(error);
      }
    },
    async FetchData() {
      try {
        await this.fetchList({
          params: { parent: true },
        });
        if (this.update == "true") {
          let res = await this.getDetail({
            id: this.ID,
          });
          this.form = {
            ...res.data,
            title: {
              uz: (res.data && res.data.title.uz) || "",
              oz: (res.data && res.data.title.oz) || "",
              ru: (res.data && res.data.title.ru) || "",
            },
            content: {
              uz: (res.data && res.data.content.uz) || "",
              oz: (res.data && res.data.content.oz) || "",
              ru: (res.data && res.data.content.ru) || "",
            },
          };
        } else {
          return;
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss"></style>
