<template>
  <a-modal :visible="isVisible" :title="title" centered :width="Width" @ok="submit" @cancel="close" :footer="null"
    :maskClosable="false" class="popup">
    <template #closeIcon>
      <SvgIcon name="close" @click="close"></SvgIcon>
    </template>
    <div class="popup-body">
      <slot name="body"></slot>
    </div>
    <div class="popup-footer" v-if="isFooter">
      <slot name="footer"> </slot>
    </div>
  </a-modal>
</template>

<script>
export default {
  props: {
    isVisible: {
      type: Boolean,
      default() {
        return false;
      },
    },
    title: {
      type: String,
      default() {
        return null;
      },
    },
    Width: {
      type: String,
      default() {
        return "400px";
      },
    },
    isFooter: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  
  methods: {
    close() {
      this.$emit("close");
    },
    submit() {
      this.$emit("submit");
    },
  },
};
</script>

<style>
</style>