<template>
  <div class="pages">
    <CustomList
      title="Bog'lanish"
      :deleteItems="deleteItems"
      :createFunc="true"
      @closeDeleting="closeDeleting"
      @onDelete="onDelete"
      @getCreateFunc="modal.create = true"
    >
      <template #pagination>
        <Pagination
          @onChangeLimit="onChangeLimit"
          @paginate="paginate"
          :limit="pagination.limit"
          :count="count"
          :page="pagination.page"
        />
      </template>
      <!-- @onOpenCreateModal="" -->
      <template #header>
        <th>
          <a-checkbox v-model="onDeleting" @change="onSelectedAll">
            <!-- ID -->
          </a-checkbox>
        </th>
        <th>Id</th>
        <th>Nomi</th>
        <th style="text-align: center">Turi</th>
        <th style="text-align: center">Qiymati</th>
        <th></th>
      </template>
      <template #body>
        <tr v-for="item in list" :key="item.id">
          <td>
            <a-checkbox
              :checked="deleteItems.includes(item.id)"
              :value="item.id"
              @change="toggle($event, item.id)"
            >
              <!-- {{ item.id }} -->
            </a-checkbox>
          </td>
          <td width="1%">
            <span>{{ item.id }}</span>
          </td>
          <td>
            <div class="table-image">
              <span class="pointer">
                {{ item.title }}
              </span>
            </div>
          </td>
          <td style="text-align: center">
            <span>{{
              categoryList.find((el) => el.id == item.type) &&
              categoryList.find((el) => el.id == item.type).name[$i18n.locale]
            }}</span>
          </td>
          <td style="text-align: center">
            <span>{{ item.value }}</span>
          </td>

          <td width="1%">
            <div class="table-action">
              <SvgIcon name="edit" class="edit" @click="editItem(item.id)" />
              <a-popconfirm
                placement="topLeft"
                ok-text="Ha"
                cancel-text="Yo'q"
                @confirm="onDelete(item.id)"
              >
                <template #title>
                  Siz chindan ham ushbu foydalanuvchini o'chirishni xoxlaysizmi ?
                </template>
                <SvgIcon name="delete" class="delete" />
              </a-popconfirm>
            </div>
          </td>
        </tr>
      </template>
    </CustomList>
    <PopupContactCreate :isVisible="modal.create" @close="close" v-if="modal.create" />
    <PopupContactUpdate
      :isVisible="modal.update"
      :value="detail"
      @close="close"
      v-if="modal.update"
    />
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      onDeleting: false,
      deleteItems: [],
      loading: false,
      pagination: {
        limit: 15,
        page: 1,
      },
      modal: {
        create: false,
        update: false,
      },
      categoryList: [
        {
          id: 1,
          category: "social-link",
          name: {
            uz: "Social link",
            oz: "Social link",
            ru: "Social link",
            en: "Social link",
          },
          lang: false,
        },
        {
          id: 2,
          category: "email",
          name: {
            uz: "Email",
            oz: "Email",
            ru: "Email",
            en: "Email",
          },
          lang: false,
        },
        {
          id: 3,
          category: "phone_number",
          name: {
            uz: "Phone number",
            oz: "Phone number",
            ru: "Phone number",
            en: "Phone number",
          },
          lang: false,
        },
      ],
      detail: {},
    };
  },
  computed: {
    ...mapGetters("admin/contact", ["list", "count"]),
    params() {
      return {
        limit: this.pagination.limit,
        offset: (this.pagination.page - 1) * this.pagination.limit,
      };
    },
  },
  async created() {
    await this.FetchData();
  },
  methods: {
    ...mapActions("admin/contact", ["fetchList", "getDetail"]),

    async close() {
      this.modal.create = false;
      this.modal.update = false;
      await this.FetchData();
    },
    async editItem(id) {
      try {
        let res = await this.getDetail(id);
        this.detail = res.data;
        this.modal.update = true;
      } catch (error) {
        console.error(error);
      }
    },

    async FetchData() {
      try {
        this.loading = true;
        await this.fetchList({
          params: this.params,
        });
        this.loading = false;
      } catch (error) {
        console.log(error);
        this.loading = false;
      }
    },
    async onDelete(id) {
      try {
        let items = [];
        if (id) {
          items.push(id);
        } else {
          items = this.deleteItems;
        }
        const { status, error } = await this.$store.dispatch("functions/deleteItems", {
          items,
          api: "/contact",
        });
        if (status) {
          await this.FetchData();
          this.$message.success("Harakat muvaffaqiyat bajarildi!");
          this.deleteItems = [];
          this.onDeleting = false;
        } else {
          this.$message.error(error);
        }
      } catch (error) {
        console.log(error);
      }
    },
    toggle(e, itemId) {
      const f = this.deleteItems.findIndex((item) => item == itemId);
      if (f != -1) {
        this.deleteItems.splice(f, 1);
      } else {
        this.deleteItems.push(itemId);
      }
      if (this.deleteItems.length == this.list.length) {
        this.onDeleting = true;
      } else {
        this.onDeleting = false;
      }
    },
    onSelectedAll(e) {
      this.deleteItems = [];
      this.onDeleting = e.target.checked;
      if (this.onDeleting) {
        this.deleteItems = this.list.map((el) => el.id);
      } else {
        this.deleteItems = [];
      }
    },
    closeDeleting() {
      this.deleteItems = [];
      this.onDeleting = false;
    },
    paginate(arg) {
      this.pagination.page = arg;
      this.FetchData();
    },
    onChangeLimit(arg) {
      this.pagination.limit = arg;
      this.pagination.page = 1;
      this.FetchData();
    },
  },
};
</script>

<style></style>
