.card {
    height: 100%;
    display: flex;
    flex-direction: column;

    &-header {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 8px 8px 0px 0px;
        display: flex;
        align-items: center;
        padding: 12px 16px;


        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            margin: 0;
        }

        &-add {
            margin-right: 12px;
            &.right {
                margin-left: auto;
                margin-right: 0;
            }
        }

        &-more {
            margin-left: auto;
        }

        .svg {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            cursor: pointer;

            svg {
                fill: white;
                width: 20px;
                height: 20px;
            }
        }

    }

    &-body {
        background: #D0E4F8;
        border-radius: 0px 0px 8px 8px;
        flex: 1;
        padding: 16px;
    }

    &.white {
        .card-body {
            background-color: white;
        }
    }

}