@import 'helper',
'layouts',
'custom',
'pages',
'card';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GT Walsheim Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
  margin: 0;
  padding: 0;
}

// .swiper {
//     &-wrapper {
//         transition-timing-function: linear !important;
//     }
// }
.wrapper {
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &-inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 0;
    transition: all 0.3s ease-in-out;
    padding: 20px 100px 20px 312px;
  }

  &-functions {
    padding: 0 20px;
    margin-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    margin: 20px 0 20px 20px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {

        // &:first-child {
        //     .svg {
        //         background: linear-gradient(132.74deg, #1CDEB0 3.84%, #36BBD7 49.32%, #4BA0F3 92.48%);
        //     }
        // }
        &:not(:last-child) {
          margin-bottom: 12px;
        }

        .svg {
          width: 40px;
          height: 40px;
          background: rgba(255, 255, 255, 0.15);
          border-radius: 8px;
          cursor: pointer;

          svg {
            fill: white;
          }
        }
      }
    }
  }
}

.home {
  padding-top: 16px;

  &-statistics {
    &-top {
      background: #FFFFFF;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      &-info {
        display: flex;
        flex-direction: column;

        span {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #475D74;
          margin-bottom: 10px;
        }

        b {
          font-weight: 700;
          font-size: 20px;
          line-height: 150%;
          color: #3B96EF;
        }
      }

      .svg {
        background: #F3F3F3;
        border-radius: 8px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        width: 61px;
        height: 61px;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-card {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(50% - 8px);
        position: relative;

        &::after {
          content: '';
          width: calc(100% - 8px);
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -100%);
          background: rgba(255, 255, 255, 0.08);
          height: 16px;
        }

        &:first-child {
          &::before {
            content: '';
            position: absolute;
            height: calc(100% - 18px);
            top: 50%;
            transform: translate(100%, -50%);
            right: 0;
            width: 16px;
            background: rgba(255, 255, 255, 0.1);
          }
        }

        &-info {
          display: flex;
          flex-direction: column;

          span {
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            margin-bottom: 8px;
          }

          b {
            font-weight: 700;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  &-info {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: column;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #707E8D;
      }

      b {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: #071F3E;
        margin: 4px 0 2px;
      }
    }

    &-right {
      display: flex;
      align-items: center;

      .svg {
        margin-right: 4px;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      b {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: right;
        color: #071F3E;
      }
    }
  }
}

.ant-select-dropdown-menu-item {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
}
