.auth {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 160px;
  background-image: url('~/assets/images/theme.jpg');


  @include devices(xxl) {
    padding: 0 130px;
  }

  @include devices(xl) {
    padding: 0 50px;
  }

  @include devices(xs) {
    padding: 0 15px;
  }

  &-content {
    display: flex;
    z-index: 1;
    width: 100%;

    @include devices(md) {
      flex-direction: column;
      padding: 100px 0;
      width: 100%;
      max-width: 500px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 780px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      z-index: -1;

      @include devices(xl) {
        max-height: 660px;
        background-position: 56%;
      }

      @include devices(xs) {
        max-height: 540px;
        background-position: 60%;
      }

      @include devices(md) {
        background-position: 50%;
      }
    }
  }

  &-form {
    background-color: white;
    padding: 80px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 50%;
    max-width: 50%;

    @include devices(xl) {
      padding: 40px;
    }

    @include devices(lg) {
      padding: 32px;
    }

    @include devices(md) {
      padding: 24px;
      margin-bottom: 60px;
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include devices(xs) {
      padding: 24px;
    }

    &-header {
      margin-bottom: 40px;

      @include devices(xs) {
        margin-bottom: 24px;
      }

      h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: #212121;
        margin-bottom: 16px;
      }

      span {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #5D6676;
      }
    }

    &-body {
      margin-bottom: 80px;

      @include devices(xs) {
        margin-bottom: 40px;
      }

      .ant-form-item-label {
        label {
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          color: #212121;
        }

        margin-bottom: 13px;
      }

      .ant-row.ant-form-item {
        &:first-child {
          margin-bottom: 32px;
        }

        &:nth-child(2) {
          margin-bottom: 24px;
        }

        &:nth-child(3) {
          margin-bottom: 24px;

          .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
          }

          .ant-form-item-children {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          a {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #174CAD;

            @include devices(xs) {
              font-size: 16px;
            }

            .svg {
              margin-left: 6px;

              svg {
                fill: #174CAD;
              }
            }
          }
        }

        &:nth-child(4) {
          .ant-btn {
            width: 100%;
            padding: 20px;
            color: #FFFFFF;
            background: linear-gradient(180deg, #1B50B0 0%, #1147AA 100%);
            border-radius: 8px;

            span {
              font-weight: 700;
              font-size: 20px;
              line-height: 23px;
              text-align: center;
              color: #FFFFFF;
            }
          }
        }
      }

      .ant-input {
        padding: 16px;
        font-size: 20px;
        height: auto;
        background-color: transparent;

        @include devices(xs) {
          padding: 12px;
        }

        &::placeholder {
          font-weight: 400;
          font-size: 20px;
        }
      }

      .ant-input-suffix {
        font-size: 18px;

        svg {
          fill: #003087;
        }
      }

      .ant-checkbox-wrapper {
        span {
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          color: #525A69;

          @include devices(xs) {
            font-size: 16px;
          }
        }
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .ant-btn {
        width: 100%;
        margin-right: 16px;
        border: 1px solid #B4BBC8;
        border-radius: 8px;
        padding: 20px;

        @include devices(lg) {
          padding: 12px;
        }

        @include devices(xs) {
          padding: 8px;
        }

        &.active {
          background: #F3F6FD;
        }

        img {
          margin-right: 8px;
        }

        span {
          font-weight: 400;
          font-size: 20px;
          line-height: 23px;
          color: #8F96A3;

          @include devices(lg) {
            font-size: 18px;
          }

          @include devices(xs) {
            font-size: 14px;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 64px;

    @include devices(xxl) {
      padding: 0 40px;
    }

    @include devices(xl) {
      padding: 0 0 0 20px;

    }

    @include devices(md) {
      flex: 0 0 100%;
      max-width: 100%;
    }


    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 110px;

      @include devices(md) {
        margin-bottom: 30px;
      }

      @include devices(md) {
        margin-bottom: 20px;
      }

      .svg {
        margin-bottom: 24px;
      }

      h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        span {
          font-weight: 500;
          font-size: 40px;
          line-height: 160%;
          text-transform: uppercase;
          display: block;
          color: #FFFFFF;
          margin-bottom: 8px;

          @include devices(xl) {
            font-size: 32px;
          }

          @include devices(lg) {
            font-size: 30px;
          }

          @include devices(xs) {
            font-size: 22px;
          }
        }

        strong {
          font-weight: 700;
          font-size: 48px;
          line-height: 140%;
          text-transform: uppercase;
          color: #FFFFFF;

          @include devices(xl) {
            font-size: 40px;
          }

          @include devices(lg) {
            font-size: 36px;
          }

          @include devices(xs) {
            font-size: 28px;
          }
        }
      }
    }

    &-body {
      margin-bottom: 150px;

      @include devices(md) {
        margin-bottom: 20px;
      }

      @include devices(xs) {
        margin-bottom: 10px;
      }

      h1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-weight: 400;
          font-size: 32px;
          line-height: 160%;
          color: #FFFFFF;
          opacity: 0.9;

          @include devices(xl) {
            font-size: 26px;
          }

          @include devices(lg) {
            font-size: 22px;
          }

          @include devices(xs) {
            font-size: 20px;
          }
        }

        strong {
          font-weight: 700;
          font-size: 64px;
          line-height: 160%;
          text-transform: uppercase;
          color: #FFFFFF;

          @include devices(xl) {
            font-size: 56px;
          }

          @include devices(lg) {
            font-size: 44px;
          }

          @include devices(xs) {
            font-size: 36px;
          }
        }
      }
    }

    &-footer {
      span {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;

        @include devices(xs) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        a {
          font-weight: 700;
          color: #FFFFFF;

          @include devices(xs) {
            display: block;
          }
        }
      }
    }
  }
}
