:root {
    --sider-width: 312px;
}

$siderWidth: var(--sider-width);

.wrapper {
    &.on-filter {
        .filter {
            transform: translateX(0);
        }

        .sider {
            transform: translateX(-100%);
        }
    }

    &.on-sider {
        .filter {
            transform: translateX(-100%);
        }
    }
}

.filter {
    max-width: $siderWidth;
    min-width: $siderWidth;
    flex: 0 0 $siderWidth;
    width: $siderWidth;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h3 {
            font-weight: 500;
            font-size: 24px;
            line-height: 27px;
            color: #FFFFFF;
            margin-bottom: 0;
        }

        .svg {
            width: 32px;
            height: 32px;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 8px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            cursor: pointer;

            svg {
                stroke: white;
            }
        }
    }

    &-body {
        flex: 1;
        max-height: 100%;
        margin-bottom: 20px;

        .ant-collapse {
            background-color: transparent;
            border-radius: 0;
            border: none;

            &-header {
                font-weight: 500 !important;
                font-size: 16px !important;
                line-height: 18px !important;
                color: #FFFFFF !important;
                position: relative;

                .svg {
                    svg {
                        stroke: #FFFFFF;
                    }
                }
            }

            &-item {
                border: none;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 8px;

                .ant-collapse-header {
                    .svg {
                        transition: all 0.3s ease-in-out;
                        opacity: 0.6;

                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &-active {
                    .ant-collapse-header {
                        .svg {
                            transform: rotate(180deg) translateY(50%) !important;
                        }
                    }
                }
            }

            &-content {
                background-color: transparent;
                border: none;

                &-box {
                    padding-top: 0 !important;
                }
            }
        }

        .stick {
            margin: 4px auto;
            height: 10px;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.2);
            display: block;
        }

        .ant-select {
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 4px;
        }

        .ant-select-selection {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        .ant-select .ant-select-selection--single .ant-select-selection-selected-value {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
        }

        .ant-select .ant-select-selection--single .ant-select-selection__placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            opacity: 0.6;
        }

        .ant-select .ant-select-selection--single .ant-select-arrow-icon svg {
            fill: rgba(255, 255, 255, 0.4);
        }


        .ant-select-selection:hover {
            border-color: #3B96EF;
        }

        .ant-my-placeholder {
            display: none;
        }

        .ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header,
        .ant-collapse-content>.ant-collapse-content-box {
            padding: 12px;
        }

        .ant-input {
            background-color: transparent;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            border: 1px solid rgba(255, 255, 255, 0.2);

            &::placeholder {
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #FFFFFF;
                opacity: 0.6;
            }

            &:hover {
                border-color: #3B96EF;
            }

        }
    }

    &-footer {
        margin-top: auto;
        display: flex;
        align-items: center;

        .ant-btn {
            flex: 1;
            height: 44px;
            border-radius: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;

            &:first-child {
                margin-right: 12px;
            }
        }
    }
}