.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  line-height: unset;
  padding: 0 0 16px;
  height: auto;
  display: flex;
  align-items: center;

  &-search {
    margin-right: 24px;
    cursor: pointer;
  }

  &-info {
    display: flex;
    align-items: center;
    margin-right: 16px;

    &>i {
      width: 1px;
      height: 24px;
      background-color: rgba(255, 255, 255, 0.2);
      margin: 0 12px;
    }

    &-time {
      span {
        font-weight: 300;
        font-size: 32px;
        line-height: 120%;
        color: #FFFFFF;
        display: block;
        margin-bottom: 4px;
      }

    }

    &-date {
      display: flex;
      flex-direction: column;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;

      }

      small {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        opacity: 0.8;
      }
    }
  }

  &-profile {
    margin-left: auto;

    .ant-btn {
      background: rgba(255, 255, 255, 0.15);
      border-radius: 44px;
      padding: 6px 16px 6px 6px;
      display: flex;
      align-items: center;
      border: none;

      i {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        background: linear-gradient(180deg, #F3BA4B 0%, #F39C4B 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
      }


      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
      }

      .svg {
        margin-left: 8px;

        svg {
          fill: white;
          width: 16px;
          height: 16px;
        }
      }
    }

    &-image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      overflow: hidden;
    }
  }

  &-create {
    margin-left: 20px;

    .ant-btn {
      border-radius: 8px;
      padding: 10px 16px;

      .svg {
        margin-right: 8px;

        svg {
          width: 20px;
          height: 20px;
          stroke: white;
        }
      }
    }
  }
}
