.sider {
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
  background-color: transparent !important;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  &.ant-layout-sider-collapsed {
    &~.wrapper-inner {
      padding: 20px 100px 20px 80px;
    }
  }

  &-header {
    padding: 0 32px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    &-trigger {
      margin-right: 12px;
      transition: all 0.3s ease-in-out;

      .svg {
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
          fill: white;
          display: block;
        }
      }
    }

    &-logo {
      display: flex;
      align-items: center;

      img {
        height: 40px;
        margin-right: 12px;
        transition: all 0.3s ease-in-out;
      }

      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 138%;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;
        letter-spacing: 0.75px;
      }
    }
  }

  &-footer {
    padding: 16px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    margin: auto auto 0;
    width: calc(100% - 40px);
    transition: all 0.3s ease-in-out;

    &-header {
      display: flex;
      align-items: center;

      img {
        height: 48px;
        width: 48px;
        margin-right: 14px;
        transition: all 0.3s ease-in-out;
      }

      &-bottom {
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;

        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
          margin-bottom: 2px;
          transition: all 0.3s ease-in-out;
        }

        small {
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          color: #FFFFFF;
          opacity: 0.7;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &>span {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #FFFFFF;
      opacity: 0.7;
      display: block;
      margin-bottom: 20px;
      transition: all 0.3s ease-in-out;
    }

    &>a {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      transition: all 0.3s ease-in-out;

      .svg {
        margin-left: 4px;
        transition: all 0.3s ease-in-out;

        svg {
          width: 16px;
          height: 16px;
          fill: white;
        }
      }
    }
  }

  &.ant-layout-sider-collapsed {
    .sider {
      &-header {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 16px;

        &-trigger {
          margin-right: 0;
          margin-bottom: 16px;
          height: 44px;
          display: flex;
        }

        &-logo {
          display: none;

          span {
            max-width: 0;
            opacity: 0;
          }

          img {
            margin: 0;
          }
        }
      }

      &-footer {
        width: calc(100% - 16px);
        padding: 8px;

        &-header {
          margin: 0;
          justify-content: center;

          img {
            margin-right: 0;
            height: 36px;
            width: 36px;
          }

          &-bottom {
            max-width: 0;
            opacity: 0;
            max-height: 0;
          }
        }

        &>span {
          max-width: 0;
          opacity: 0;
          max-height: 0;
          margin: 0;
        }

        &>a {
          max-width: 0;
          opacity: 0;
          max-height: 0;
        }
      }
    }
  }
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .ps {
    width: 100%;
    flex: 1;
    max-width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ps__thumb-y {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }

    &>ul {
      border: none !important;
      background-color: transparent !important;
      padding: 0 20px;

      &>li {
        width: 100% !important;
        height: unset !important;
        line-height: unset !important;
        padding: 0 !important;
        margin: 0 0 4px 0px !important;
        border-radius: 8px;

        &.ant-menu-item-selected {
          background-color: transparent !important;
        }

        &::after {
          display: none !important;
        }

        &:last-child {
          margin: 0 !important;
        }

        &:active {
          background: rgba(255, 255, 255, 0.1);
        }

        &.ant-menu-submenu {
          padding: 0 12px !important;

          &.ant-menu-submenu-open {
            background: rgba(255, 255, 255, 0.1);

            &>div {
              border-color: rgba(255, 255, 255, 0.2);

              .sider-menu-icon {
                opacity: 1;
              }

              .sider-menu-angle {
                transform: rotate(180deg);
              }
            }
          }
        }

        &>div {
          margin: 0 !important;
          height: unset !important;
          line-height: unset !important;
          padding: 0 !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0);

          &:active {
            background-color: transparent !important;
          }

          &>span {
            display: flex;
            align-items: center;
            padding: 12px 0 !important;

            .sider-menu-icon {
              margin-right: 8px !important;
              transition: all 0.3s ease-in-out;
              opacity: 0.4;
              // svg {
              //     fill: white !important;
              // }
            }

            .sider-menu-angle {
              margin-left: auto !important;
              transition: all 0.3s ease-in-out;

              svg {
                fill: white !important;
              }
            }

            span {
              font-weight: 500;
              font-size: 16px;
              line-height: 18px;
              color: #FFFFFF;
              transition: all 0.3s ease-in-out;
            }
          }

          &>i {
            display: none;
          }
        }

        &>a {
          display: flex;
          align-items: center;
          padding: 12px;
          border-radius: 6px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background: rgba(255, 255, 255, 0.15);

            .sider-menu-icon {
              opacity: 1;
            }
          }

          &.nuxt-link-active {
            background: rgba(255, 255, 255, 0.15);

            .sider-menu-icon {
              opacity: 1;
            }
          }

          .sider-menu-icon {
            margin-right: 8px;
            transition: all 0.3s ease-in-out;
            opacity: 0.4;
            // svg {
            //     fill: white;
            // }
          }

          span {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            transition: all 0.2s ease-in-out;
          }
        }

        &>ul {
          background-color: transparent !important;

          &>li {
            margin: 0 0 4px 0 !important;
            padding: 0 !important;
            line-height: unset !important;
            height: unset !important;
            width: 100% !important;

            &:first-child {
              margin-top: 12px !important;
            }

            &:last-child {
              margin-bottom: 12px !important;
            }

            &:active {
              background: rgba(255, 255, 255, 0.15);
            }

            &.ant-menu-item-selected {
              background-color: transparent !important;

              &::after {
                display: none;
              }
            }

            a {
              display: flex !important;
              align-items: center !important;
              padding: 12px !important;
              border-radius: 6px;
              transition: all 0.3s ease-in-out;

              &:hover {
                background: rgba(255, 255, 255, 0.15);

                .sider-menu-icon {
                  opacity: 1;
                }
              }

              &.nuxt-link-active {
                background: rgba(255, 255, 255, 0.15);

                .sider-menu-icon {
                  opacity: 1;
                }
              }

              .sider-menu-icon {
                margin-right: 8px;
                opacity: 0.4;
                transition: all 0.3s ease-in-out;

                svg {
                  stroke: white !important;
                  width: 20px;
                  height: 20px;
                }
              }

              span {
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #FFFFFF;
              }
            }
          }
        }
      }

      &.ant-menu-inline-collapsed {
        width: 44px;
        padding: 0 !important;

        &>li {
          padding: 0 !important;

          &.ant-menu-submenu {
            &>div {
              &.ant-menu-submenu-title {
                padding: 0 !important;
                border-color: transparent !important;

                &>span {
                  .sider-menu-icon {
                    margin: 0 auto !important;
                  }

                  .sider-menu-angle {
                    max-width: 0;
                    opacity: 0;
                    margin: 0 !important;
                  }

                  span {
                    max-width: 0;
                    opacity: 0;
                  }
                }
              }
            }
          }

          &>a {
            .sider-menu-icon {
              margin: 0 auto !important;
            }

            span {
              max-width: 0;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.ant-menu-inline-collapsed-tooltip {
  .ant-tooltip-arrow::before {
    // background-color: rgba(255, 255, 255, 0.15);
    background-color: rgb(46 64 92) !important;
  }

  .ant-tooltip-inner {
    // background-color: rgba(255, 255, 255, 0.15);
    background-color: rgb(46 64 92) !important;

    a {
      display: flex;
      align-items: center;
      padding: 8px;

      .sider-menu-icon {
        margin-right: 8px;
        // svg {
        //     fill: white;
        // }
      }

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
      }
    }
  }
}

.ant-menu-submenu-popup {
  &>ul {
    &.ant-menu-vertical {
      // background-color: rgba(255, 255, 255, 0.15) !important;
      background-color: rgb(46 64 92) !important;
      padding: 12px;

      &>li {
        line-height: unset !important;
        height: unset !important;
        padding: 0 !important;

        &.ant-menu-item-selected {
          background-color: transparent !important;
        }

        &:active {
          background-color: transparent;
        }

        &:not(:last-child) {
          margin-bottom: 4px !important;
        }

        &>a {
          display: flex;
          align-items: center;
          padding: 12px !important;
          border-radius: 6px;

          Подробнее &.nuxt-link-active {
            background: rgba(255, 255, 255, 0.15);

            .sider-menu-icon {
              opacity: 1;
            }
          }

          &:hover {
            background: rgba(255, 255, 255, 0.15);

            .sider-menu-icon {
              opacity: 1;
            }
          }

          .sider-menu-icon {
            margin-right: 8px;
            opacity: 0.4;

            svg {
              stroke: white;
              width: 20px;
              height: 20px;
            }
          }

          span {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}
