<template>
  <popup-layout
    Width="610px"
    @close="close"
    title="Qo'shish"
    :isVisible="isVisible"
    isFooter
  >
    <template #body>
      <a-form-model ref="form" :rules="rules">
        <a-row type="flex" :gutter="[16, 16]" class="mt-24 modal-add-wrapper">
          <a-col span="24">
            <a-row type="flex" :gutter="[16, 16]">
              <a-col span="24">
                <a-form-model-item :class="{ active: form.question }">
                  <a-input placeholder="Savol" v-model="form.question" type="text" />
                  <span class="ant-my-placeholder">Savol:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: form.answer }">
                  <a-input placeholder="Javob" v-model="form.answer" type="text" />
                  <span class="ant-my-placeholder">Javob:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: form.position }">
                  <a-input
                    type="number"
                    placeholder="Pozitsiya"
                    v-model.number="form.position"
                  />
                  <span class="ant-my-placeholder">Pozitsiya:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: form.is_active }" label="Status:">
                  <a-switch v-model="form.is_active" />
                </a-form-model-item>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-form-model>
    </template>
    <template #footer>
      <a-button @click="close" class="grey"> Bekor qilish </a-button>
      <a-button @click="Save" class="blue"> Saqlash </a-button>
      <!-- <a-button @click="Save" class="blue"> Saqlash </a-button> -->
    </template>
  </popup-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  props: {
    isVisible: {
      type: Boolean,
      default() {
        return false;
      },
    },
    api: {
      type: String,
      default() {
        return "";
      },
    },
  },
  data() {
    return {
      form: {
        question: "",
        answer: "",
        position: null,
        is_active: false,
      },
      rules: {
        // title: [
        //   { required: true, trigger: "change", message: "To'ldirilishi shart" },
        // ],
        // phone_number: [
        //   { required: true, trigger: "change", message: "To'ldirilishi shart" },
        // ],
      },
    };
  },
  computed: {},
  methods: {
    ...mapActions("admin/faq", ["postDetail"]),

    close() {
      this.$emit("close");
    },
    async Save() {
      try {
        await this.postDetail(this.form);
        this.close();
      } catch (error) {
        console.error(error);
      }
      this.$emit("close");
    },
  },
};
</script>

<style></style>
