<template>
  <popup-layout
    Width="610px"
    @close="close"
    title="Yangilash"
    :isVisible="isVisible"
    isFooter
  >
    <template #body>
      <a-form-model ref="form" :rules="rules">
        <a-row type="flex" :gutter="[16, 16]" class="mt-24 modal-add-wrapper">
          <a-col span="24">
            <a-row type="flex" :gutter="[16, 16]">
              <a-col span="24">
                <a-form-model-item :class="{ active: value.question }">
                  <a-input placeholder="Savol" v-model="value.question" type="text" />
                  <span class="ant-my-placeholder">Savol:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: value.answer }">
                  <a-input placeholder="Javob" v-model="value.answer" type="text" />
                  <span class="ant-my-placeholder">Javob:</span>
                </a-form-model-item>
              </a-col>

              <a-col span="24">
                <a-form-model-item :class="{ active: value.position }">
                  <a-input
                    type="number"
                    placeholder="Pozitsiya"
                    v-model.number="value.position"
                  />
                  <span class="ant-my-placeholder">Pozitsiya:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: value.is_active }" label="Status:">
                  <a-switch v-model="value.is_active" />
                </a-form-model-item>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-form-model>
    </template>
    <template #footer>
      <a-button @click="close" class="grey"> Bekor qilish</a-button>
      <a-button @click="Update" class="blue"> Saqlash </a-button>
    </template>
  </popup-layout>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    isVisible: {
      type: Boolean,
      default() {
        return false;
      },
    },
    value: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      activeLang: "uz",
      rules: {
        // title: [
        //   { required: true, trigger: "change", message: "To'ldirilishi shart" },
        // ],
        // phone_number: [
        //   { required: true, trigger: "change", message: "To'ldirilishi shart" },
        // ],
      },
    };
  },
  methods: {
    ...mapActions("admin/faq", ["updateDetail"]),

    close() {
      this.$emit("close");
    },
    async Update() {
      try {
        await this.updateDetail({
          id: this.value.id,
          form: this.value,
        });
        this.close();
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>

<style></style>
