<template>
    <div class="card">
        <div class="card-header">
            <SvgIcon v-if="isAdd" name="plus" @click="$emit('onCreate')" class="card-header-add" />
            <h3>{{ title }}</h3>
            <SvgIcon v-if="more" name="angle-left" class="card-header-more" @click="$router.push({ path: more })" />
            <SvgIcon v-if="isAddRight" name="plus" @click="$emit('onCreate')" class="card-header-add right" />
        </div>
        <div class="card-body">
            <slot name="content">
            
            </slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default() {
                return "There should be title !"
            }
        },
        isAdd: {
            type: Boolean,
            default() {
                return false
            }
        },
        more: {
            type: String,
            default() {
                return ''
            }
        },
        isAddRight: {
            type: Boolean,
            default() {
                return false
            }
        }
    },
}
</script>

<style>

</style>