<template>
  <a-spin size="large" :spinning="true" />
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: () => true,
    },
  },
};
</script>

<style>
</style>