<template>
  <div class="recursive">
    <a-menu style="width: 100%" mode="inline">
      <a-sub-menu v-for="(item, index) in menu" :key="index">
        <span slot="title" style="padding: 0"
          ><div class="recursive-item">
            <div class="recursive-item-child" v-if="item && item.children">
              <SvgIcon name="plus" class="puls" />
              <SvgIcon name="minus" class="minus" />
            </div>
            <span>{{ item.name }}</span>
            <div class="recursive-item-func">
              <div class="recursive-item-func-item">
                <a-switch
                  :checked="item.on_header"
                  @change="changeStatus(item.id, item.on_header, 'on_header')"
                />
                <a-tag
                  style="min-width: 110px; text-align: center; margin-left: 8px"
                  :color="item.on_header ? 'geekblue' : 'volcano'"
                >
                  {{ item.on_header == true ? "Bosh menu" : "Bosh menu emas" }}
                </a-tag>
              </div>

              <div class="recursive-item-func-item">
                <a-switch
                  :checked="item.status"
                  @change="changeStatus(item.id, item.status, 'status')"
                />

                <a-tag
                  style="min-width: 110px; text-align: center; margin-left: 8px"
                  :color="item.status ? 'geekblue' : 'volcano'"
                >
                  {{ item.status == true ? "Faol" : "Faol emas " }}
                </a-tag>
              </div>

              <div class="table-action">
                <SvgIcon
                  name="edit"
                  class="edit"
                  @click="
                    $router.push({
                      path: `/cabinet/admin/menu/${item.id}/`,
                      query: { update: true },
                    })
                  "
                />
                <a-popconfirm
                  placement="topLeft"
                  ok-text="Ha"
                  cancel-text="Yo'q"
                  @confirm="onDelete(item.id)"
                >
                  <template #title>
                    Siz chindan ham ushbu foydalanuvchini o'chirishni xoxlaysizmi ?
                  </template>
                  <SvgIcon name="delete" class="delete" />
                </a-popconfirm>
              </div>
            </div>
          </div>
        </span>
        <template v-if="item && item.children">
          <Recursive
            :menu="item.children"
            style="padding-left: 24px"
            @onDelete="onDelete"
            @changeStatus="changeStatus"
          />
        </template>
      </a-sub-menu>
    </a-menu>
  </div>
</template>

<script>
export default {
  name: "Recursive",

  props: {
    menu: {
      type: Array,
      default: () => {},
    },
  },
  data() {
    return {};
  },

  methods: {
    onDelete(id) {
      this.$emit("onDelete", id);
      console.log(id);
    },
    changeStatus(id, status, key) {
      this.$emit("changeStatus", id, status, key);
      console.log(id);
    },
  },
};
</script>

<style lang="scss"></style>
