<template>
    <div @click="$emit('click')" :class="[{ 'svg-fill': type == 'fill', 'svg-stroke': type == 'stroke' },]" class="svg"
        v-html="require(`~/assets/svg/${name}.svg?raw`)" />
</template>
  
<script>
export default {
    props: {
        name: { type: String, default: "FAQ" },
        type: {
            type: String,
            default: 'stroke'
        }
        // This type-props can accept only stroke or fill. Stroke is given as default.
    },
};

</script>
<style>
.svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg svg {
    /* fill: red; */
}
</style>