<template>
    <a-modal :visible="visible" :footer="null" width="700px" class="modal modal-create">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h3>Yaratish</h3>
                <p>O'zingiz uchun kerak bo'limni tanlang</p>
                <SvgIcon name="close" @click="$emit('closeCreateModal')" />
            </div>
            <div class="modal-body">
                <a-row type="flex" :gutter="[16, 16]">
                    <a-col span="8">
                        <a-button class="blue h48" @click="onClickLink('/cabinet/admin/personnel/employees/create')">
                            <SvgIcon name="user-add" />
                            Xodim yaratish
                        </a-button>
                    </a-col>
                    <a-col span="8">
                        <a-button class="light-blue h48">
                            <SvgIcon name="report-add" />
                            Buyruq yaratish
                        </a-button>
                    </a-col>
                    <a-col span="8">
                        <a-button class="orange h48">
                            <SvgIcon name="bars-add" />
                            Xisobot yaratish
                        </a-button>
                    </a-col>
                </a-row>
            </div>
            <div class="modal-footer"></div>
        </div>
    </a-modal>
</template>
<script>
export default {
    props: {
        visible: {
            type: Boolean,
            default() {
                return false
            }
        }
    },
    methods: {
        onClickLink(val) {
            this.$router.push(val);
            this.$emit('onRouting')
        }
    }
};
</script>

<style>

</style>