<template>
  <div class="pages form">
    <div class="pages-header">
      <h2>{{ update !== "true" ? "Rasm qoshish" : "Rasmni o'zgartirish" }}</h2>
    </div>
    <div class="pages-body">
      <div class="form-body">
        <a-form-model :model="form" ref="form" class="mb-24">
          <a-row type="flex" :gutter="[16, 24]">
            <a-col span="24">
              <a-form-model-item label="Fayllar" :class="{ active: form.photo }">
                <FormUploadFiles @change="handleChangeFile" :files="form.photo" />
              </a-form-model-item>
            </a-col>
            <a-col span="12" v-if="update == 'true' && change">
              <img style="height: 500px" :src="form.photo" alt="" />
            </a-col>
          </a-row>
        </a-form-model>
      </div>
      <div class="form-body-action">
        <a-button class="blue on-submit" @click="onSubmit">
          Saqlash
          <SvgIcon name="arrow-right" />
        </a-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "DLDUpdate",

  data() {
    return {
      change: true,
      update: this.$route.query.update,
      ID: this.$route.params.id,
      form: {
        photo: null,
      },
    };
  },

  async created() {
    await this.FetchData();
    console.log(this.$route);
  },

  methods: {
    ...mapActions("admin/banner", ["updateDetail", "postDetail", "getDetail"]),
    handleChangeFile(items) {
      this.change = false;
      this.form.photo = items;
    },
    async onSubmit() {
      try {
        this.$refs.form.validate(async (valid) => {
          if (valid) {
            if (this.update == "true") {
              console.log("update");
              delete this.form.photo;
              let form = { ...this.form };
              let f = new FormData();
              Object.keys(form).forEach((k) => {
                if (k == "photo") {
                  form[k] &&
                    form[k].forEach((i) => {
                      if (i && i.file && i.file.extension) {
                      } else {
                        i && f.append(k, i, i.name);
                      }
                    });
                } else {
                  form[k] && f.append(k, form[k]);
                }
              });

              let { status } = await this.updateDetail({
                form: f,
                id: this.ID,
              });
              status && this.$message.success("Harakat muvaffaqiyatli bajarildi");
              this.$router.go(-1);
            } else {
              console.log("create");
              delete this.form.id;
              let form = { ...this.form };
              let f = new FormData();
              Object.keys(form).forEach((k) => {
                if (k == "photo") {
                  form[k] &&
                    form[k].forEach((i) => {
                      if (i && i.file && i.file.extension) {
                        console.log(i.file && i.file.extension);
                      } else {
                        i && f.append(k, i, i.name);
                      }
                    });
                } else {
                  form[k] && f.append(k, form[k]);
                }
              });

              let { status } = await this.postDetail(f);
              status && this.$message.success("Harakat muvaffaqiyatli bajarildi");
              this.$router.go(-1);
            }
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      } catch (error) {
        console.error(error);
      }
    },
    async FetchData() {
      try {
        if (this.update == "true") {
          let res = await this.getDetail({
            id: this.ID,
          });
          console.log("gwet");
          this.form = {
            ...res.data,
          };
        } else {
          return;
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss"></style>
