<template>
  <div class="pages">
    <CustomList
      title="Banner"
      :deleteItems="deleteItems"
      @closeDeleting="closeDeleting"
      @onDelete="onDelete"
      :createURL="{
        path: `/cabinet/admin/banner/_id`,
        query: { update: false },
      }"
    >
      <template #pagination>
        <Pagination
          @onChangeLimit="onChangeLimit"
          @paginate="paginate"
          :limit="pagination.limit"
          :count="count"
          :page="pagination.page"
        />
      </template>
      <!-- @onOpenCreateModal="" -->
      <template #header>
        <th>
          <a-checkbox v-model="onDeleting" @change="onSelectedAll">
            <!-- ID -->
          </a-checkbox>
        </th>

        <th colspan="2">Rasm</th>
      </template>
      <template #body>
        <tr v-for="item in list" :key="item.id">
          <td>
            <a-checkbox
              :checked="deleteItems.includes(item.id)"
              :value="item.id"
              @change="toggle($event, item.id)"
            >
              <!-- {{ item.id }} -->
            </a-checkbox>
          </td>

          <td>
            <img :src="item.photo" alt="" style="height: 200px" />
          </td>
          <td width="1%">
            <div class="table-action">
              <SvgIcon
                name="edit"
                class="edit"
                @click="
                  $router.push({
                    path: `/cabinet/admin/banner/${item.id}/`,
                    query: { update: true },
                  })
                "
              />
              <a-popconfirm
                placement="topLeft"
                ok-text="Ha"
                cancel-text="Yo'q"
                @confirm="onDelete(item.id)"
              >
                <template #title>
                  Siz chindan ham ushbu foydalanuvchini o'chirishni xoxlaysizmi ?
                </template>
                <SvgIcon name="delete" class="delete" />
              </a-popconfirm>
            </div>
          </td>
        </tr>
      </template>
    </CustomList>
    <PopupQuestionUpdate
      :isVisible="modal.update"
      :value="detail"
      :api="'question'"
      @close="close"
      v-if="modal.update"
    />
    <PopupQuestionCreate
      :api="'question'"
      :isVisible="modal.create"
      @close="close"
      v-if="modal.create"
    />
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      onDeleting: false,
      deleteItems: [],
      loading: false,
      pagination: {
        limit: 15,
        page: 1,
      },
      modal: {
        create: false,
        update: false,
      },
      detail: {},
    };
  },
  computed: {
    ...mapGetters("admin/banner", ["list", "count"]),
    params() {
      return {
        limit: this.pagination.limit,
        offset: (this.pagination.page - 1) * this.pagination.limit,
      };
    },
  },
  async created() {
    await this.FetchData();
  },
  methods: {
    ...mapActions("admin/banner", ["fetchList", "getDetail"]),
    async close() {
      this.modal.create = false;
      this.modal.update = false;
      await this.FetchData();
    },
    async getItem(id) {
      try {
        let res = await this.getDetail(id);
        this.detail = {
          ...res.data,
          text: {
            uz: (res.data && res.data.text && res.data.text.uz) || "",
            oz: (res.data && res.data.text && res.data.text.oz) || "",
            ru: (res.data && res.data.text && res.data.text.ru) || "",
          },
        };
        this.modal.update = true;
      } catch (error) {
        console.error(error);
      }
    },
    async FetchData() {
      try {
        this.loading = true;
        await this.fetchList({
          params: this.params,
        });
        this.loading = false;
      } catch (error) {
        console.log(error);
        this.loading = false;
      }
    },
    async onDelete(id) {
      try {
        let items = [];
        if (id) {
          items.push(id);
        } else {
          items = this.deleteItems;
        }
        const { status, error } = await this.$store.dispatch("functions/deleteItems", {
          items,
          api: "/banner",
        });
        if (status) {
          await this.FetchData();
          this.$message.success("Harakat muvaffaqiyat bajarildi!");
          this.deleteItems = [];
          this.onDeleting = false;
        } else {
          this.$message.error(error);
        }
      } catch (error) {
        console.log(error);
      }
    },
    toggle(e, itemId) {
      const f = this.deleteItems.findIndex((item) => item == itemId);
      if (f != -1) {
        this.deleteItems.splice(f, 1);
      } else {
        this.deleteItems.push(itemId);
      }
      if (this.deleteItems.length == this.list.length) {
        this.onDeleting = true;
      } else {
        this.onDeleting = false;
      }
    },
    onSelectedAll(e) {
      this.deleteItems = [];
      this.onDeleting = e.target.checked;
      if (this.onDeleting) {
        this.deleteItems = this.list.map((el) => el.id);
      } else {
        this.deleteItems = [];
      }
    },
    closeDeleting() {
      this.deleteItems = [];
      this.onDeleting = false;
    },
    paginate(arg) {
      this.pagination.page = arg;
      this.FetchData();
    },
    onChangeLimit(arg) {
      this.pagination.limit = arg;
      this.pagination.page = 1;
      this.FetchData();
    },
  },
};
</script>

<style></style>
