<template>
  <div class="auth-form">
    <div class="auth-form-header">
      <h3>{{ $t("AuthTitle") }}</h3>
      <span>{{ $t("AuthSubTitle") }}</span>
    </div>
    <div class="auth-form-body">
      <a-form-model ref="form" :model="form" :rules="rules">
        <a-form-model-item :label="$t('Login')" has-feedback prop="username">
          <a-input
            @keyup.enter="onSubmit"
            v-model="form.username"
            :placeholder="$t('AuthLogin')"
          >
            <a-tooltip slot="suffix">
              <a-icon type="info-circle" style="color: rgba(0, 0, 0, 0.45)" />
            </a-tooltip>
          </a-input>
        </a-form-model-item>
        <a-form-model-item :label="$t('Password')" has-feedback prop="password">
          <a-input-password
            @keyup.enter="onSubmit"
            v-model="form.password"
            :placeholder="$t('AuthPassword')"
          />
        </a-form-model-item>
        <a-form-model-item> </a-form-model-item>
        <a-form-model-item>
          <a-button @click="onSubmit"> {{ $t("Entry") }} </a-button>
          <p style="text-align: center; color: red">{{ userError }}</p>
        </a-form-model-item>
      </a-form-model>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  layout: "auth",
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
      rules: {
        username: [{ required: true, trigger: "change", message: this.$t("Required") }],
        password: [{ required: true, trigger: "change", message: this.$t("Required") }],
      },
      roles: {
        1: {
          path: "/cabinet/admin/news",
        },
      },
      userError: "",
      pending: false,
      visible: false,
    };
  },
  computed: {
    ...mapGetters("auth", ["role"]),
  },
  methods: {
    ...mapActions("auth", ["login"]),
    async onSubmit() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          try {
            this.pending = true;
            this.userError = "";
            let { status } = await this.login({ form: this.form });
            if (status) {
              this.pending = false;
              const path =
                (this.roles[this.role] && this.roles[this.role].path) ||
                "/cabinet/admin/news";
              this.$router.push(path);
            }
          } catch (e) {
            this.pending = false;
            if ((e && e.error) || e == "Username or password is wrong!") {
              this.userError = "Bunday foydalanuvchi topilmadi";
            }
            console.error((e && e.error) || e);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    chooseLang(lang) {
      this.$i18n.setLocale(lang);
    },
  },
};
</script>

<style lang="scss"></style>
