<template>
  <div class="pages form">
    <div class="pages-header">
      <h2>{{ update !== "true" ? "Yangilik qoshish" : "Yangilik o'zgartirish" }}</h2>
    </div>
    <div class="pages-body">
      <div class="form-body">
        <a-form-model :model="form" ref="form" class="mb-24">
          <a-row type="flex" :gutter="[16, 24]">
            <a-col span="24"> <h3 class="mb-20">Asosiy ma'lumotlar</h3></a-col></a-row
          >
          <a-row type="flex" :gutter="[16, 24]">
            <a-col span="24">
              <a-form-model-item :class="{ active: form.title }">
                <a-input placeholder="Sarlavha" v-model.trim="form.title" />
                <span class="ant-my-placeholder">Sarlavha:</span>
              </a-form-model-item>
            </a-col>

            <a-col span="12">
              <a-form-model-item :class="{ active: form.type }">
                <a-select placeholder="Turini tanlang" v-model="form.type">
                  <a-select-option
                    v-for="item in typeList"
                    :key="item.type"
                    :value="item.type"
                  >
                    {{ item.name }}
                  </a-select-option>
                  <template #suffixIcon>
                    <SvgIcon name="angle-down" />
                  </template>
                </a-select>
                <span class="ant-my-placeholder">Turini tanlang:</span>
              </a-form-model-item>
            </a-col>
            <a-col span="6">
              <a-form-model-item label="Saytda korsatish" class="ant-my-checkbox">
                <a-switch v-model="form.is_home" />
              </a-form-model-item>
            </a-col>
            <!-- <a-col span="24">
              <a-form-model-item :class="{ active: form.description }">
                <a-input placeholder="Tavsifi" v-model="form.description" />
                <span class="ant-my-placeholder">Tavsifi:</span>
              </a-form-model-item>
            </a-col> -->

            <a-col span="24">
              <a-form-model-item
                style="display: block"
                :class="{ active: form.description }"
                label="Description:"
              >
                <CustomEditor v-model="form.description" />
              </a-form-model-item>
            </a-col>

            <a-col span="24">
              <a-form-model-item label="Fayllar" :class="{ active: form.photo }">
                <FormUploadFiles @change="handleChangeFile" :files="form.photo" />
              </a-form-model-item>
            </a-col>
            <a-col span="12" v-if="update == 'true' && change">
              <img style="height: 500px" :src="form.photo" alt="" />
            </a-col>
          </a-row>
        </a-form-model>
      </div>
      <div class="form-body-action">
        <a-button class="blue on-submit" @click="onSubmit">
          Saqlash
          <SvgIcon name="arrow-right" />
        </a-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "DLDUpdate",

  data() {
    return {
      change: true,
      update: this.$route.query.update,
      ID: this.$route.params.id,
      form: {
        title: "",
        description: "",
        is_home: true,
        photo: null,
      },
      typeList: [
        {
          name: "News",
          type: 1,
        },
        {
          name: "Trainings",
          type: 2,
        },
      ],
    };
  },

  async created() {
    await this.FetchData();
  },

  methods: {
    ...mapActions("admin/news", ["updateDetail", "postDetail", "getDetail"]),
    handleChangeFile(items) {
      this.change = false;
      this.form.files = items;
    },
    async onSubmit() {
      try {
        this.$refs.form.validate(async (valid) => {
          if (valid) {
            if (this.update == "true") {
              console.log("update");
              delete this.form.photo;
              let form = { ...this.form };

              let f = new FormData();
              Object.keys(form).forEach((k) => {
                if (k == "files") {
                  console.log(form[k], "llll");
                  form[k] &&
                    form[k].forEach((i) => {
                      if (i && i.file && i.file.extension) {
                      } else {
                        i && f.append("photo", i, i.name);
                      }
                    });
                } else {
                  form[k] && f.append(k, form[k]);
                }
              });
              let { status } = await this.updateDetail({
                form: f,
                id: this.ID,
              });
              status && this.$message.success("Harakat muvaffaqiyatli bajarildi");
              this.$router.go(-1);
            } else {
              console.log("create");

              delete this.form.id;
              let form = { ...this.form };
              let f = new FormData();
              Object.keys(form).forEach((k) => {
                if (k == "files") {
                  console.log(form[k], "llll");
                  form[k] &&
                    form[k].forEach((i) => {
                      if (i && i.file && i.file.extension) {
                      } else {
                        i && f.append("photo", i, i.name);
                      }
                    });
                } else {
                  form[k] && f.append(k, form[k]);
                }
              });
              let { status } = await this.postDetail(f);
              status && this.$message.success("Harakat muvaffaqiyatli bajarildi");
              this.$router.go(-1);
            }
          } else {
            console.log("error submit!!");
            return false;
          }
        });
      } catch (error) {
        console.error(error);
      }
    },
    async FetchData() {
      try {
        if (this.update) {
          let res = await this.getDetail({
            id: this.ID,
          });
          console.log("gwet");
          this.form = {
            ...res.data,
          };
        } else {
          return;
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss"></style>
