<template>
  <div class="pages">
    <CustomList
      title="Yangiliklar"
      :deleteItems="deleteItems"
      @closeDeleting="closeDeleting"
      @onDelete="onDelete"
      :createURL="{
        path: `/cabinet/admin/news/_id`,
        query: { update: false },
      }"
    >
      <template #pagination>
        <Pagination
          @onChangeLimit="onChangeLimit"
          @paginate="paginate"
          :limit="pagination.limit"
          :count="count"
          :page="pagination.page"
        />
      </template>
      <!-- @onOpenCreateModal="" -->
      <template #header>
        <th>
          <a-checkbox v-model="onDeleting" @change="onSelectedAll">
            <!-- ID -->
          </a-checkbox>
        </th>
        <th>Title</th>
        <th colspan="2">Status</th>
      </template>
      <template #body>
        <tr v-for="item in lists" :key="item.id">
          <td>
            <a-checkbox
              :checked="deleteItems.includes(item.id)"
              :value="item.id"
              @change="toggle($event, item.id)"
            >
              <!-- {{ item.id }} -->
            </a-checkbox>
          </td>
          <td>
            <span>{{ item.title }}</span>
          </td>
          <td>
            <a-switch
              :checked="item.is_home"
              @change="changeStatus(item.id, item.is_home)"
            />
          </td>

          <td width="1%">
            <div class="table-action">
              <SvgIcon
                name="edit"
                class="edit"
                @click="
                  $router.push({
                    path: `/cabinet/admin/news/${item.id}/`,
                    query: { update: true },
                  })
                "
              />
              <a-popconfirm
                placement="topLeft"
                ok-text="Ha"
                cancel-text="Yo'q"
                @confirm="onDelete(item.id)"
              >
                <template #title>
                  Siz chindan ham ushbu foydalanuvchini o'chirishni xoxlaysizmi ?
                </template>
                <SvgIcon name="delete" class="delete" />
              </a-popconfirm>
            </div>
          </td>
        </tr>
      </template>
    </CustomList>
    <!-- <PopupPassword :isVisible="modal" :username="is_userName" @close="close()" /> -->
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      is_userName: "",
      modal: false,
      status: false,
      onDeleting: false,
      deleteItems: [],
      loading: false,
      lists: [],
      pagination: {
        limit: 15,
        page: 1,
      },
    };
  },
  computed: {
    ...mapGetters("admin/news", ["list", "count"]),
    params() {
      return {
        limit: this.pagination.limit,
        offset: (this.pagination.page - 1) * this.pagination.limit,
      };
    },
  },
  async created() {
    await this.FetchData();
    this.lists = [...this.list];
  },
  methods: {
    ...mapActions("admin/news", ["fetchList", "updateDetail"]),

    async changeStatus(id, status) {
      await this.updateDetail({
        id: id,
        form: { is_home: !status },
      });
      status && this.$message.success("Harakat muvaffaqiyatli bajarildi");
      await this.FetchData();
    },
    close() {
      this.modal = false;
    },
    openChangePass(name) {
      this.is_userName = name;
      this.modal = true;
    },
    paginate(arg) {
      this.pagination.page = arg;
      this.FetchData();
    },
    onChangeLimit(arg) {
      this.pagination.limit = arg;
      this.pagination.page = 1;
      this.FetchData();
    },
    createFunc() {
      this.$router.push({
        path: `/cabinet/admin/users/_id/`,
        query: { update: false },
      });
    },
    async FetchData() {
      try {
        this.loading = true;
        await this.fetchList({
          params: this.params,
        });
        this.lists = this.list;

        this.loading = false;
      } catch (error) {
        console.log(error);
        this.loading = false;
      }
    },
    async onDelete(id) {
      try {
        let items = [];
        if (id) {
          items.push(id);
        } else {
          items = this.deleteItems;
        }
        const { status, error } = await this.$store.dispatch("functions/deleteItems", {
          items,
          api: "/news",
        });
        if (status) {
          await this.FetchData();
          this.$message.success("Harakat muvaffaqiyat bajarildi!");
          this.deleteItems = [];
          this.onDeleting = false;
        } else {
          this.$message.error(error);
        }
      } catch (error) {
        console.log(error);
      }
    },
    toggle(e, itemId) {
      const f = this.deleteItems.findIndex((item) => item == itemId);
      if (f != -1) {
        this.deleteItems.splice(f, 1);
      } else {
        this.deleteItems.push(itemId);
      }
      if (this.deleteItems.length == this.list.length) {
        this.onDeleting = true;
      } else {
        this.onDeleting = false;
      }
    },
    onSelectedAll(e) {
      this.deleteItems = [];
      this.onDeleting = e.target.checked;
      if (this.onDeleting) {
        this.deleteItems = this.list.map((el) => el.id);
      } else {
        this.deleteItems = [];
      }
    },
    closeDeleting() {
      this.deleteItems = [];
      this.onDeleting = false;
    },
  },
};
</script>

<style></style>
