.detail {
    padding-top: 16pxr;

    &-header {
        background: #FFFFFF;
        border-radius: 8px;
        padding: 20px;

        &-user {
            display: flex;

            &-image {
                width: 130px;
                min-width: 130px;
                height: 130px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 20px;

                img {
                    @include image;
                }
            }

            &-info {
                display: flex;
                flex-direction: column;

                h2 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 150%;
                    color: #212121;
                    margin-bottom: 4px;
                }

                span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    color: #828282;


                }

                &-footer {
                    display: flex;
                    margin-top: auto;
                }
            }
        }

        &-info {
            span {
                display: block;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #828282;
                margin-bottom: 2px;

            }

            b {
                display: block;
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: #212121;
            }
        }
    }

    &-card {
      

        &.detail-action {
            .detail-card-body {
                background-color: white;

                .tab {
                    margin-bottom: 16px;
                }

                &-box {
                    span {
                        font-size: 16px;
                    }

                    b {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                        color: #3B96EF;
                    }
                }
            }
        }

        &-header {
         
           
          

        }

        &-body {
           

            &-box {
                background: #FFFFFF;
                box-shadow: 0px 0px 4px rgba(57, 148, 236, 0.2);
                border-radius: 6px;
                padding: 12px;

                span {
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    color: #8BA1BE;
                    margin-bottom: 2px;


                }

                b {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    color: #071F3E;
                    display: block;
                }

                &:not(:last-child) {
                    margin-bottom: 12px;

                }
            }


        }
    }
}