.ant-upload.ant-upload-drag {
  background: #F8F8F8;
  border: 1px solid #EFEFEF;
  border-radius: 4px;

  .ant-upload {
    padding: 24px 0;
  }
}

.form {
  &-header {
    padding-bottom: 16px;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 16px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;

      li {
        width: calc(100% / 24 * 4);
        position: relative;

        &:last-child {
          .svg {
            &::after {
              display: none;
            }
          }
        }

        .svg {
          background: #E9F4FF;
          border-radius: 48px;
          width: 48px;
          height: 48px;
          margin-bottom: 12px;

          &::after {
            content: '';
            position: absolute;
            top: calc(48px / 2);
            left: 48px;
            height: 1px;
            width: calc(100% - 48px);
            background-color: #EFEFEF;
            // background-color: red;
          }

          svg {
            stroke: #3B96EF;
            width: 24px;
            height: 24px;
          }
        }

        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.1px;
          color: #898989;
        }

        &.active,
        &.nuxt-link-exact-active {
          .svg {
            background-color: #3B96EF;

            svg {
              stroke: white;
            }

            &::after {
              background-color: #3B96EF;
            }
          }

          span {
            color: #212121;
          }
        }

        &.done {
          .svg {
            background: linear-gradient(180deg, #08AE54 0%, #068842 100%);

            svg {
              stroke: white;
            }

            &::after {
              background: linear-gradient(180deg, #08AE54 0%, #068842 100%);
            }
          }

          span {
            color: #898989;
          }
        }
      }
    }
  }

  &-stages {
    margin-bottom: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        flex: 1;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 20px;
        }

        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          color: #FFFFFF;
          width: 100%;
          height: 100%;
          padding: 16px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 4px;

          &.nuxt-link-exact-active {
            background: #3B96EF;
            border-radius: 4px;
          }
        }
      }
    }
  }

  &-body {
    flex: 1;
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.1px;
      color: #212121;
      margin-bottom: 12px;
    }

    h4 {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.1px;
      color: #2080DF;
    }

    h5 {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.1px;
      color: #212121;
    }

    &-border {
      margin: 24px 0;
      height: 1px;
      width: 100%;
      background-color: #EFEFEF;
    }

    &-action {
      margin-top: auto;
      padding-top: 20px;
      border-top: 1px solid #EFEFEF;
      display: flex;
      align-items: center;

      .ant-btn {
        &.on-back {
          padding: 12px 56px;
          margin-right: auto;

          .svg {
            margin-right: 4px;
            margin-left: 0;

            svg {
              fill: #212121;
              stroke: transparent;
            }
          }
        }

        &.on-submit {
          padding: 12px 40px;
          margin-left: auto;

          .svg {
            margin-right: 0;
            margin-left: 4px;

            svg {
              fill: white;
              stroke: transparent;
            }
          }
        }
      }
    }
  }
}

.ant {
  &-form {
    &-explain {
      position: absolute;
      left: 8px;
      // bottom: 0;
      top: -20px;
      transform: translateY(50%);
      background-color: white;
      padding: 0 4px;
    }

    &-item {
      margin-bottom: 0;
      align-items: center;

      &-children {
        display: block;
        position: relative;

        textarea {
          padding: 12px;
          min-height: 120px;
        }

        input {
          display: block;
        }
      }

      &-label {
        line-height: unset;
        width: 100%;
        max-width: 300px;
        text-align: left;

        label {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.1px;
          color: #484848;
          display: block;
        }
      }

      &-control {
        &-wrapper {
          flex: 1;
        }
      }
    }
  }

  &-radio {
    &-wrapper {
      span {
        &:not(.ant-radio) {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.1px;
          color: #212121;
        }
      }
    }
  }

  &-input {
    padding: 0 12px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #212121;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.1px;
      color: #686868;
      transition: all 0.3s ease-in-out;
    }

    &:focus {
      &::placeholder {
        color: rgba(104, 104, 104, 0.3);
      }
    }
  }

  &-form {
    &-item {
      &.active {
        .ant-my {
          &-placeholder {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &-calendar {
    &-picker {
      display: block;

      .ant-input {
        padding: 0 40px 0 12px;
      }

      &-icon {
        width: 20px;
        flex: 0 0 20px;
        max-width: 0 0 20px;

        svg {
          fill: #3B96EF;
          width: 20px;
          height: 20px;
        }
      }

      &-clear {
        margin: 0;
        display: block;
        width: auto;
        height: auto;
        transform: translateY(-50%);

        svg {
          // fill: transparent;
          fill: #3B96EF;
          width: 20px;
          height: 20px;
          display: block;
        }
      }
    }
  }

  // .ant-select
  &-select {
    display: block;

    .ant-select-selection--single {
      height: 48px;
      display: flex;
      align-items: center;

      .ant-select-selection__placeholder {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.1px;
        color: #686868;
        padding-left: 11px;
      }

      .ant-select-selection-selected-value {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
        color: #212121;
      }

      .ant-select-selection__rendered {
        line-height: unset;
        width: 100%;
        margin: 0;
        padding: 0 32px 0 11px;
      }

      .ant-select-arrow {
        display: block;
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%);

        &-icon {
          display: block;

          svg {
            fill: #686868;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  &-my {
    &-checkbox {
      display: flex;
      align-items: center;

      .ant-form-item-label {
        margin-bottom: 0 !important;
      }
    }

    &-placeholder {
      position: absolute;
      top: 0;
      left: 9px;
      transform: translateY(-50%);
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.1px;
      color: #686868;
      background-color: white;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      padding: 0px 4px;
    }

    &-upload {
      position: relative;

      .ant-upload-drag {
        background: #F8F8F8;
        border: 1px solid #EFEFEF;
        border-radius: 4px;
        height: 48px;
        padding: 0 12px;
      }

      .ant-upload-list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
      }

      .ant-upload-drag-container {
        display: flex !important;
        align-items: center !important;
        height: 100%;
        cursor: pointer;
        position: relative;
        padding-right: 36px;

        .anticon {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          color: #EC3751;
          font-size: 20px;
          cursor: pointer;
        }

        .svg {
          margin-right: 4px;

          svg {
            height: 20px;
            width: 20px;
            fill: #686868;
          }
        }

        a,
        span {
          color: #686868;
          @include slice(1);
          text-align: left;
          word-break: break-all;
        }
      }

      .ant-upload-btn {
        padding: 0 !important;
      }
    }
  }
}

// uploader
// === avatar
.avatar {
  &-uploader {
    &.ant-upload-picture-card-wrapper {
      display: block;
    }

    &>.ant-upload {
      width: 100%;

      &.ant-upload-select-picture-card {
        height: 260px;
        margin: 0;
        float: unset;
        background: #F8F8F8;
        border: 1px solid #EFEFEF;
        border-radius: 4px;
      }
    }

    &-click {
      .svg {
        margin-bottom: 8px;

        svg {
          stroke: #3B96EF;
          height: 24px;
          width: 24px;
        }
      }

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1px;
        color: #898989;
      }
    }
  }
}

.folder {}

// === avatar
// uploader
// placeholder
.ant-select .ant-select-selection--single .ant-select-selection__placeholder {
  display: block !important;
}

.ant-form-item.active .ant-select .ant-select-selection--single .ant-select-selection__placeholder {
  display: none !important;
}

.avatar-uploader>.ant-upload.ant-upload-select-picture-card img {
  width: 100%;
  border-radius: 4px;
}

.upload {
  &-explanation {
    &-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;

      .svg {
        &:not(:last-child) {
          margin-right: 8px;
        }

        &:nth-child(2) {
          svg {
            width: 12px;
            height: 12px;
            stroke: #CDCDCD;
          }
        }

        svg {
          width: 20px;
          height: 20px;
          stroke: #2181DF;
        }
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #898989;
      margin-bottom: 0;
    }
  }
}

.ant-calendar-picker-clear {
  background-color: transparent;
}

.folder .ant-upload-select-picture-card {
  height: 169px !important;
}
