@import 'form',
'detail';

.pages {
  flex: 1;
  display: flex;
  flex-direction: column;

  &-header {
    padding: 20px 0;
    display: flex;
    align-items: center;

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 27px;
      color: #FFFFFF;
    }

    .tab {
      margin-left: auto;

      .ant-btn {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 4px;
        border: none;
        color: white;
        padding: 0 32px;
        height: 40px;

        &.active {
          background: #3B96EF;
          border-radius: 4px;
        }
      }
    }
  }

  &-body {
    padding: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &.about {
    .pages-body {
      height: auto;

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #313131;

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }

  &.help {
    .pages-body {
      height: auto;

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #313131;

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    .help-card {
      padding: 16px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      &-info {
        display: flex;
        flex-direction: column;

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          color: #FFFFFF;
          margin-bottom: 8px;
        }

        b {
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          color: #FFFFFF;
        }
      }

      .svg {
        height: 53px;
        width: 53px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 8px;

        svg {
          width: 28px;
          height: 28px;
          stroke: white;
        }
      }
    }
  }

  &-menu-tabs {
    display: flex;
    align-items: center;

    &-item {
      padding: 10px 12px;
      background: #F2F2F2;
      border-radius: 4px;
      display: flex;
      align-items: center;
      margin-right: 12px;
      cursor: pointer;

      .svg {
        margin-right: 6px;

        svg {
          stroke: #3B96EF;
        }
      }

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #484848;
      }

      &.active {
        background: #3B96EF;

        .svg {
          svg {
            stroke: white;
          }
        }

        span {
          color: white;
        }
      }
    }
  }

  .ant {
    &-form {
      &-item {
        display: flex;
      }
    }
  }
}

.table-image {
  display: flex;
  align-items: center;

  & img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top center;
    margin-right: 16px;
    border-radius: 8px;
  }
}

.recursive {
  border-radius: 8px;
  overflow: hidden;

  .recursive {
    border-radius: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;

    &-child {
      margin-right: 8px;
    }

    &-func {
      margin-left: auto;
      display: flex;
      align-items: center;

      &-item {
        margin-left: 8px;


      }
    }
  }

  .ant-menu {
    &-submenu {
      &-arrow {
        display: none;
      }

      .minus {
        display: none;
      }

      .puls,
      .minus {
        stroke: #313131;
      }

      &-open {
        .minus {
          display: block;
        }

        .puls {
          display: none;
        }
      }

      .ant-menu {
        margin-bottom: 0;
      }

      &-title {
        height: auto !important;
        font-weight: 500;
        font-size: 16px;
        color: #313131;
        padding: 0 !important;
        border-bottom: 1px solid #EBEBEB;
        line-height: normal !important;
        margin: 0 !important;
      }
    }
  }


}
