// content
.content {
  &-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;

    h2 {
      font-size: 20px;
      line-height: 26px;
      font-weight: 600;
      color: $black1-white1;
    }

    a {
      color: $blue1-white1;
      margin-left: 16px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.tab {
  display: flex;
  align-items: center;

  .ant-btn {

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #8BA1BE;
    background: #FFFFFF;
    border: 1px solid #D0E4F8;
    border-radius: 2px;

    &.active {
      background: #3B96EF;
      color: white;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }


  }
}

// content

// box
// .box {
//     white-space: nowrap;
//     padding: 2px 12px;
//     border-radius: 10px;
//     background-color: $white1-grey1;
//     display: block;
//     width: max-content;
//     font-size: 12px;
//     line-height: 18px;
//     color: $blue1-white1;
//     border: 1.5px solid $blue1-white1;
//     margin: 0 8px;

// }

// box

// card
// card



// space
.mb {
  &-24 {
    margin-bottom: 24px !important;
  }

  &-12 {
    margin-bottom: 12px !important;
  }


  &-16 {
    margin-bottom: 16px !important;
  }

  &-8 {
    margin-bottom: 8px !important;
  }

  &-14 {
    margin-bottom: 14px !important;
  }

  &-20 {
    margin-bottom: 20px !important;
  }
}

.mr {
  &-auto {
    margin-right: auto;
  }

  &-16 {
    margin-right: 16px;
  }

  &-12 {
    margin-right: 12px;
  }

  &-8 {
    margin-right: 8px;
  }
}

.ml {
  &-auto {
    margin-left: auto;
  }

  &-16 {
    margin-left: 16px;
  }

  &-12 {
    margin-left: 12px;
  }

  &-8 {
    margin-left: 6px;
  }
}

.m {
  &-20 {
    margin: 20px 0 !important;
  }
}

.ant-col {
  &>.ant-btn {
    width: 100%;
  }
}

.ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: auto;
  border: none;
  border-radius: 4px;

  .svg {
    margin-right: 8px;
  }


  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  &.h48 {
    height: 48px;
  }

  &.h40 {
    height: 40px;
  }

  &.h36 {
    height: 36px;
  }

  &.w140 {
    min-width: 140px;
    padding: 0 16px;
  }

  &.w100p {
    width: 100%;
  }

  &.p40 {
    padding: 0 40px;
  }

  &.p10 {
    padding: 0 10px;
  }

  &.p32 {
    padding: 0 32px;
  }


  &.blue {
    background: linear-gradient(180deg, #4BA0F3 0%, #197CDC 100%);

    span {

      color: #FFFFFF;
    }

    .svg {
      svg {
        width: 20px;
        height: 20px;
        stroke: white;
      }
    }
  }

  &.blur {
    background-color: transparent;
    border: 1px solid #EBEBEB;
  }

  &.grey {
    background: #EFEFEF;

    .svg {
      svg {
        stroke: #212121;
        width: 20px;
        height: 20px;
      }
    }

    span {
      color: #212121;
    }
  }

  &.white-blue {
    background-color: #E9F4FF;
    color: #3B96EF;

  }

  &.dark-blue {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }

  &.light-blue {
    background: linear-gradient(132.74deg, #1CDEB0 3.84%, #36BBD7 49.32%, #4BA0F3 92.48%);

    span {

      color: #FFFFFF;
    }

    .svg {
      svg {
        width: 20px;
        stroke: white;
      }
    }
  }

  &.orange {
    background: linear-gradient(180deg, #F3B94B 0%, #F39C4B 100%);

    span {

      color: #FFFFFF;
    }

    .svg {
      svg {
        width: 20px;
        stroke: white;
      }
    }
  }

  &.transparent {
    background-color: transparent;
    border: 1px solid #EBEBEB;
  }
}

.mb {
  &-48 {
    margin-bottom: 48px !important;
  }
}

.text {
  &-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #686868;
    display: block;
    margin-bottom: 2px;
    display: block;

  }

  &-value {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #212121;
    display: block;


  }

  &-label2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #8BA1BE;
    margin-bottom: 2px;
    display: block;

  }

  &-value2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #071F3E;
    display: block;
  }

  &-label3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 2px;
    color: #8BA1BE;
    display: block;



  }

  &-value3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #3B96EF;
    display: block;

  }
}

.box {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(57, 148, 236, 0.2);
  border-radius: 6px;
  padding: 12px;

  &._16 {
    padding: 16px;
  }
}

.ul-list {
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    b {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #071F3E;
    }

    span {
      border-radius: 8px;
      width: 50px;
      min-width: 50px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;

      &.green {
        background: rgba(18, 174, 156, 0.2);
        color: #0A877A;
      }

      &.blue {
        background: #E7F3FF;
        color: #3B96EF;
      }

      &.red {
        background: rgba(255, 122, 122, 0.2);
        color: #CF3333;
      }

      &.orange {
        background: #FFF5E1;
        color: #EAB142;
      }

    }
  }
}

.pointer {
  cursor: pointer;
}
.dropdown {
  &-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.14);
    padding: 12px;
    border-radius: 16px;

    &.left {
      position: absolute;
      top: 50%;
      right: calc(100% + 12px);
      transform: translateY(-50%);

      li {
        min-width: unset !important;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        min-width: 256px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 12px;
        background: #F3F3F3;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #212121;
        transition: all 0.3s ease-in-out;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        &.active,
        &:hover {
          background-color: #ececec;
        }

        img,
        .svg {
          margin-right: 8px;

          svg {
            stroke: #CF3333;
          }
        }
      }
    }
  }
}
