@mixin image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin slice($limit) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $limit;
}

@mixin devices ($breakpoint) {
  @if $breakpoint==xll {
    @media only screen and (max-width: 1560px) {
      @content;
    }
  }

  @if $breakpoint==xl {
    @media only screen and (max-width: 1380px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    @media only screen and (max-width: 1199px) {
      @content;
    }
  }

  @if $breakpoint==md {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint==xs {
    @media only screen and (max-width: 550px) {
      @content;
    }
  }
}