body {
    &.light {
        // sider
        --blue1-white1: #64A3FF;
        --white2-black1: #F4F6F8;
        --white1-grey1: #ffffff;
        // sider
        --blue1-grey1: #64A3FF;
        --blue2-gray1: #E0EAFA;
        --black1-white: #1A1C1E;
        --white1-black1: #ffffff;
        --black3-white1: #B0B0B0;
        --white1-transparent: #fff;


        --red1-white1: #fd5c63;
        // table
        --table-header-back: rgba(100, 163, 255, 0.05);
        --table-border: rgba(100, 163, 255, 0.1);
        // table

    }

    &.dark {
        // sider
        --blue1-white1: #ffffff;
        --white1-grey1: #363A3E;
        --white2-black1: #1A1C1E;
        // sider
        --blue1-grey1: #363A3E;
        --blue2-gray1: #363A3E;
        --black1-white1: #ffffff;
        --black3-white1: #ffffff;
        --white1-black1: #1A1C1E;
        --red1-white1: #fff;
        --white1-transparent: transparent;

        // table
        --table-header-back: #34383c;
        --table-border: rgba(255, 255, 255, 0.08);
        // table

    }

    --white: #fff;
    --black: #000;
    --black3: #B0B0B0;
}

$blue1-white1: var(--blue1-white1);
$blue2-gray1: var(--blue2-gray1);
$white1-black1: var(--white1-black1);
$white2-black1: var(--white2-black1);
$white1-grey1: var(--white1-grey1);
$black3-white1: var(--black3-white1);
$black1-white1: var(--black1-white1);
$blue1-grey1: var(--blue1-grey1);
$red1-white1: var(--red1-white1);
$white: var(--white);
$black: var(--black);
$white1-transparent: var(--white1-transparent);
$black3: var(--black3);


// table
$table-header-back: var(--table-header-back);
$table-border: var(--table-border);
// table




// sidebar

// sidebar