<template>
  <div class="wrapper auth">
    <div class="auth-content">
      <Nuxt />
      <div class="auth-title">
        <!-- <div class="auth-title-header">
          <SvgIcon name="emblem" />
          <h2 v-html="title[$i18n.locale]"></h2>
        </div> -->
        <div class="auth-title-body">
          <h1 v-html="subTitle[$i18n.locale]"></h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ESenateAuth",

  data() {
    return {
      // title: {
      //   uz: "<span>O'zbekiston respublikasi</span><strong>Oliy majlisi senati</strong>",
      //   oz: "<span>Ўзбекистон республикаси</span><strong>Олий мажлиси сенати</strong>",
      //   ru: "<span>Сенат Олий Мажлиса</span><strong>Республики Узбекистан</strong>",
      // },
      subTitle: {
        uz: "<strong>MBF-ACADEMY</strong><span>Admin Paneli</span>",
        oz: "<strong>АДМОСГ</strong><span>Электрон бошқарув тизими</span>",
        ru: "<strong>АДМОСГ</strong><span>Электронная управление система</span>",
      },
      form: {
        username: "",
        password: "",
      },
      rules: {
        username: [{ required: true, trigger: "change", message: this.$t("Required") }],
        password: [{ required: true, trigger: "change", message: this.$t("Required") }],
      },
      pending: false,
      visible: false,
    };
  },

  mounted() {},

  methods: {
    async authLogin() {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          try {
            // let res = await this.login(this.form);
          } catch (error) {
            console.error(error);
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped></style>
