<template>
  <div
    class="wrapper"
    :class="isFilter ? 'on-filter' : 'on-sider'"
    :style="{
      'background-image': 'url(' + require('~/assets/images/theme.jpg') + ')',
    }"
  >
    <LayoutsSider />
    <div class="wrapper-inner">
      <LayoutsHeader />
      <Nuxt />
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters("functions", ["isFilter"]),
  },
  methods: {
    // ...mapActions("auth", ["userMe"]),
    chooseLang(lang) {
      // this.$i18n.setLocale(lang);
      // this.$router.go();
    },
  },
  async created() {
    try {
      // await this.userMe();
    } catch (error) {
      console.error(error);
    }
  },
};
</script>
<style lang="scss"></style>
