<template>
  <a-modal
    :visible="visible"
    :footer="null"
    width="1246px"
    class="modal modal-detail"
  >
    <SvgIcon class="modal-close" name="close" @click="close"></SvgIcon>
    <div class="modal-wrapper">
      <div class="modal-user">
        <div class="modal-user-wrapper">
          <div class="modal-user-image">
            <img
              :src="detail.avatar || require('~/assets/images/avatar.png')"
              alt="user"
            />
          </div>
          <a-button class="h40 white-blue w100p"> ID{{ detail.id }} </a-button>
        </div>
      </div>
      <div class="modal-info">
        <h3 class="mb-12">
          {{ detail.surname }} {{ detail.first_name }} {{ detail.parent_name }}
        </h3>
        <a-row type="flex" :gutter="[0, 40]">
          <a-col span="24">
            <h4 class="mb-8">Asosiy ma’lumotlar</h4>
            <a-row type="flex" :gutter="[20, 20]">
              <a-col span="8">
                <span>Ism:</span>
                <b>{{ detail.first_name }}</b>
              </a-col>
              <a-col span="8">
                <span>Familiya:</span>
                <b>{{ detail.surname }}</b>
              </a-col>
              <a-col span="8">
                <span>Sharif:</span>
                <b> {{ detail.parent_name }}</b>
              </a-col>
              <a-col span="8">
                <span>Familiya (o‘zgargan bo‘lsa):</span>
                <b>{{ detail.old_surname ? detail.old_surname : "-" }}</b>
              </a-col>
              <a-col span="8">
                <span>Tug‘ilgan sanasi:</span>
                <b>{{ detail.birth_date }}</b>
              </a-col>
              <a-col span="8">
                <span>Millati:</span>
                <b>{{ detail.nationality }}</b>
              </a-col>
              <a-col span="8">
                <span>Ma’lumoti:</span>
                <b>{{ detail.education }}</b>
              </a-col>
              <a-col span="8">
                <span>Ishsizlik vaqti:</span>
                <b>2-yil</b>
              </a-col>
              <a-col span="8">
                <span>Jinsi:</span>
                <b>{{ detail.gender == 1 ? "Erkak" : "Ayol" }}</b>
              </a-col>
              <a-col span="8">
                <span>Elektron pochta:</span>
                <b>{{ detail.email }}</b>
              </a-col>
            </a-row>
          </a-col>
          <a-col span="24">
            <h4 class="mb-12">Manzil ma’lumotlari</h4>
            <a-row type="flex" :gutter="[0, 24]">
              <a-col span="24">
                <h5 class="mb-8">Tug‘ilgan joyi</h5>
                <a-row type="flex" :gutter="[20, 20]">
                  <a-col span="8">
                    <span>Respublika:</span>
                    <b>{{ detail.birth_country }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Tug‘ilgan viloyat/shahar:</span>
                    <b>{{ detail.birth_region }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Tug‘ilgan tuman/shahar:</span>
                    <b>{{ detail.birth_district }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Manzil:</span>
                    <b>{{ detail.birth_address }}</b>
                  </a-col>
                </a-row>
              </a-col>
              <a-col span="24">
                <h5 class="mb-8">Doimiy yashash manzili</h5>
                <a-row type="flex" :gutter="[20, 20]">
                  <a-col span="8">
                    <span>Respublika:</span>
                    <b>{{ detail.living_country }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Tug‘ilgan viloyat/shahar:</span>
                    <b>{{ detail.living_region }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Tug‘ilgan tuman/shahar:</span>
                    <b>{{ detail.living_district }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Manzil:</span>
                    <b>{{ detail.living_address }}</b>
                  </a-col>
                </a-row>
              </a-col>
              <a-col span="24">
                <h5 class="mb-8">Vaqtincha yashash manzili</h5>
                <a-row type="flex" :gutter="[20, 20]">
                  <a-col span="8">
                    <span>Respublika:</span>
                    <b>O‘zbekiston</b>
                  </a-col>
                  <a-col span="8">
                    <span>Tug‘ilgan viloyat/shahar:</span>
                    <b>{{ detail.temporary_region || "-" }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Tug‘ilgan tuman/shahar:</span>
                    <b>{{ detail.temporary_district || "-" }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Manzil:</span>
                    <b>{{ detail.temporary_address || "-" }}</b>
                  </a-col>
                </a-row>
              </a-col>
              <a-col span="24">
                <h5 class="mb-8">Hujjatlar</h5>
                <a-row type="flex" :gutter="[20, 20]">
                  <a-col span="8">
                    <span>Passport raqami:</span>
                    <b>{{ detail.passport_serial }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Passport olgan sanasi:</span>
                    <b>{{ detail.passport_issue_date }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Passport amal qilish sanasi:</span>
                    <b>{{ detail.passport_validity_date }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Passport:</span>
                    <a v-if="detail.passport_file" :href="detail.passport_file">
                      <SvgIcon name="file-download"></SvgIcon>
                      Yuklab olish
                    </a>
                    <b v-else>Yo'q</b>
                  </a-col>
                  <a-col span="8">
                    <span>Xorijga chiqish passporti:</span>
                    <a
                      v-if="detail.foreign_passport_file"
                      :href="detail.foreign_passport_file"
                    >
                      <SvgIcon name="file-download"></SvgIcon>
                      Yuklab olish
                    </a>
                    <b v-else>Yo'q</b>
                  </a-col>
                  <a-col span="8">
                    <span>INN guvohnoma:</span>
                    <a v-if="detail.inn_file" :href="detail.inn_file">
                      <SvgIcon name="file-download"></SvgIcon>
                      Yuklab olish
                    </a>
                    <b v-else>Yo'q</b>
                  </a-col>
                </a-row>
              </a-col>
              <a-col span="24">
                <h5 class="mb-8">Boshqa ma’lumotlar</h5>
                <a-row type="flex" :gutter="[20, 20]">
                  <a-col span="8">
                    <span>Xona raqami:</span>
                    <b>{{ detail.room ? detail.room : "-" }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Shaxsiy raqam:</span>
                    <b>{{
                      detail.room_phone_number ? detail.room_phone_number : "-"
                    }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Qisqa raqam:</span>
                    <b>{{
                      detail.short_phone_number
                        ? detail.short_phone_number
                        : "-"
                    }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Xizmat mashinasi raqami:</span>
                    <b>{{ detail.car_number ? detail.car_number : "-" }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Yacheyka raqami:</span>
                    <b>{{ detail.box_number }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Partivayligi:</span>
                    <b>{{ detail.party ? detail.party : "-" }}</b>
                  </a-col>
                  <a-col span="8">
                    <span>Deputat faoliyati:</span>
                    <b>{{
                      detail.deputy_activity ? detail.deputy_activity : "-"
                    }}</b>
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </div>
    </div>
  </a-modal>
</template>
<script>
export default {
  props: {
    visible: {
      type: Boolean,
      default() {
        return false;
      },
    },
    detail: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    close() {
      this.$emit("close");
    },
  },
};
</script>

<style>
</style>