<template>
  <div class="wrapper-main">
    <SvgIcon name="plus" type="fill" />
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  mounted() {
    this.$router.push("/cabinet/admin/news");
  },
};
</script>
