<template>
  <Editor
    api-key="ptshvlsgd005gl07uua59lyyiiqia5pfqv5n0un2dbi820nj"
    :init="{
      height: 400,
      language: 'ru',
      plugins: [
        'advlist',
        'autolink',
        'link',
        'image',
        'lists',
        'charmap',
        'preview',
        'anchor',
        'pagebreak',
        'searchreplace',
        'wordcount',
        'visualblocks',
        'code',
        'fullscreen',
        'insertdatetime',
        'media',
        'table',
        'emoticons',
        'template',
        'help',
      ],
      fontsize_formats: '8px 10px 12px 14px 16px 18px 24px 36px 40px 72px',
      toolbar1:
        'undo redo | styles | bold italic fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent |',
      toolbar2:
        'link image media table | print preview fullscreen | forecolor backcolor emoticons | code help',
      menubar: 'favs file edit view insert format tools table help',
      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
    }"
    :value="value"
    @input="change"
  />
</template>

<script>
import Editor from "@tinymce/tinymce-vue";
export default {
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: {
      type: String,
      default: () => "",
    },
  },
  components: {
    Editor,
  },
  methods: {
    change(arg) {
      this.$emit("change", arg);
    },
  },
};
</script>
