<template>
  <div class="table-empty">
    <SvgIcon name="border-plus" />
    <span>
      Jadval bo'sh
      <br />
      Ma'lumotlar kiriting
    </span>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>