<template>
  <div class="file-view">
    <a :href="item && item.link">
      {{ item.link }}
    </a>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: [String, Object],
      default(){
        return ""
      }
    }
  }
}
</script>

<style>

</style>