<template>
  <div class="list">
    <LayoutsFilter :filters="['position', 'date', 'status', 'order', 'address']" />
    <div class="list-header">
      <div class="list-header-create" v-if="isCreate">
        <SvgIcon name="plus" @click="onCreate" />
      </div>
      <div class="list-header-title" v-if="title">
        <h2>{{ title }}</h2>
      </div>
      <slot name="left_side"></slot>
      <slot name="pagination"></slot>
    </div>
    <div class="list-multiple" v-if="isMultiple">
      <slot name="multipleContent"> </slot>
      <slot name="popup" v-if="$slots && $slots.popup"></slot>
      <div class="table-popup" v-else-if="deleteItems && deleteItems.length">
        <SvgIcon name="close" @click="closeDeleting" />
        <span>
          <small>{{ deleteItems && deleteItems.length }}</small>
          ta tanlandi
        </span>
        <a-button @click="onDelete">
          <SvgIcon name="delete" />
          <span>O'chirish</span>
        </a-button>
      </div>
    </div>
    <div class="list-body" v-else>
      <CustomTable>
        <template #header>
          <slot name="header"></slot>
        </template>
        <template #body>
          <slot name="body"></slot>
        </template>
        <template #popup>
          <slot name="popup" v-if="$slots && $slots.popup"></slot>
          <div class="table-popup" v-else-if="deleteItems && deleteItems.length">
            <SvgIcon name="close" @click="closeDeleting" />
            <span>
              <small>{{ deleteItems && deleteItems.length }}</small>
              ta tanlandi
            </span>
            <a-button @click="onDelete">
              <SvgIcon name="delete" />
              <span>O'chirish</span>
            </a-button>
          </div>
        </template>
      </CustomTable>
    </div>
    <div class="list-body" v-if="description">
      <div style="padding: 16px">
        <h2>{{ description }}...</h2>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: {
    title: {
      type: String,
      default() {
        return "";
      },
    },
    description: {
      type: String,
      default() {
        return "";
      },
    },
    createModal: {
      type: Boolean,
      default() {
        return false;
      },
    },
    createFunc: {
      type: Boolean,
      default() {
        return false;
      },
    },
    createURL: {
      type: [String, Object],
      default() {
        return "";
      },
    },
    isMultiple: {
      type: Boolean,
      default() {
        return false;
      },
    },
    hasFilter: {
      type: Boolean,
      default() {
        return true;
      },
    },
    isCreate: {
      type: Boolean,
      default() {
        return true;
      },
    },
    deleteItems: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  computed: {
    ...mapGetters("functions", ["isFilter"]),
  },
  methods: {
    onCreate() {
      if (this.createFunc) {
        this.$emit("getCreateFunc");
      } else if (this.createModal) {
        this.$emit("onOpenCreateModal");
      } else {
        return this.$router.push(this.createURL);
      }
    },
    closeDeleting() {
      this.$emit("closeDeleting");
    },
    onDelete() {
      this.$emit("onDelete");
    },
    onClickFilter() {
      if (this.isFilter) {
        this.$store.commit("functions/setFilter", false);
      } else {
        this.$store.commit("functions/setFilter", true);
      }
    },
  },
};
</script>

<style></style>
