<template>
    <div class="tab">
        <a-button class="h36 p10" v-for="(item, index) in list" :key="index" :class="{ active: item.value == active.value }"
            @click="$emit('change', item)">
            {{ item.title }}
        </a-button>
    </div>
</template>

<script>
export default {
    model: {
        event: "change",
        prop: "active",
    },
    props: {
        active: {
            type: Object,
            default() {
                return [];
            },
        },
        list: {
            type: Array,
            default() {
                return []
            }
        }
    },
};
</script>

<style>

</style>