<template>
  <div class="table">
    <table>
      <thead>
        <tr>
          <slot name="header"> </slot>
        </tr>
      </thead>
      <tbody>
        <slot name="body"></slot>
      </tbody>
    </table>
    <slot name="empty"> </slot>
    <!-- <slot name="popup"></slot> -->
    <slot name="popup" v-if="$slots && $slots.popup"></slot>
    <div class="table-popup" v-else-if="deleteItems && deleteItems.length">
      <SvgIcon name="close" @click="closeDeleting" />
      <span>
        <small>{{ deleteItems && deleteItems.length }}</small>
        ta tanlandi
      </span>
      <a-button @click="onDelete">
        <SvgIcon name="delete" />
        <span>O'chirish</span>
      </a-button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    deleteItems: {
      type: Array,
      default(){
        return []
      }
    }
  },
  data() {
    return {};
  },
  methods: {
    closeDeleting(){
      this.$emit("closeDeleting");
    },
    onDelete(){
      this.$emit("onDelete");
    }
  }
};
</script>

<style>
</style>