.lang-switcher {
  display: flex;
  align-items: center;

  span {
    flex: 1;
    padding: 6px 16px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: normal;
    flex: 0;

    &:not(:last-child) {
      margin-right: 16px;
    }

    img {
      margin-right: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    &.active {
      background: #E4EEF8;
      border: 1px solid #2785E2;
      border-radius: 4px;
      color: #2785E2;
    }
  }
}
