.list {


  &-header {
    display: flex;
    align-items: center;
    padding: 12px 0;

    .tab {
      margin-right: auto;

      .ant-btn {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 4px;
        border: none;
        color: white;
        padding: 0 32px;
        height: 40px;

        &.active {
          background: #3B96EF;
          border-radius: 4px;
        }
      }
    }

    &-create {
      margin-right: 12px;

      .svg {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 8px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          fill: white;
        }
      }
    }

    &-title {
      margin-right: auto;

      h2 {
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 27px;
        color: #FFFFFF;

      }
    }

    &-filter.search {
      padding: 4px;
      margin: 0 auto;
      cursor: pointer;

      &>.ant-btn {
        background: rgba(239, 239, 239, 0.15);
        border-radius: 6px;
        padding: 4px 16px;
        margin-right: 12px;

        span {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
          margin-right: 4px;
        }

        .svg {
          opacity: 1;

          svg {
            stroke: white;
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &-pagination {
      display: flex;
      align-items: center;

      &-limit {
        margin-right: 4px;

        .counter {
          height: 40px;
          background: rgba(255, 255, 255, 0.15);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
          cursor: pointer;
          border: 0;

          .svg {
            margin-right: unset;

            svg {
              width: 20px;
              height: 20px;
              fill: white;
            }
          }
        }
      }

      &-controls {
        display: flex;
        align-items: center;

        .pagination-item {
          width: 40px;
          height: 40px;
          background: rgba(255, 255, 255, 0.15);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
          cursor: pointer;
          border: 0;

          &.active {
            background: #3B96EF;
          }


          &:not(:last-child) {
            margin-right: 4px;
          }

          .svg {
            svg {
              width: 20px;
              height: 20px;
              fill: white;
            }
          }
        }
      }
    }
  }

  &-body {
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
  }
}