.modal-create {
    .modal {
        &-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-bottom: 24px;

            h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                text-align: center;
                color: #212121;
                margin-bottom: 4px;
            }

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #686868;
                margin-bottom: 0;
            }

            .svg {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;

                svg {
                    fill: #212121;
                }
            }
        }


    }

    .ant-modal {
        &-close {
            display: none;

        }

        &-body {
            padding: 20px;
        }

        &-mask {
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(4px);
        }
    }

}

.modal-detail {
    .modal {
        &-close {
            position: absolute;
            right: 20px;
            height: 20px;
            cursor: pointer;

            svg {
                width: 24px;
                height: 24px;
                fill: #212121;
            }
        }

        &-wrapper {
            display: flex;
        }

        &-user {
            max-width: 188px;
            flex: 0 0 188px;
            margin-right: 16px;

            &-wrapper {
                position: sticky;
                top: 0;
            }


            &-image {
                margin-bottom: 12px;
                height: 250px;


                img {
                    @include image;
                }
            }


        }

        &-info {
            h3 {
                font-weight: 500;
                font-size: 24px;
                line-height: 150%;
                color: #212121;

            }

            h4 {
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                color: #2080DF;

            }

            h5 {
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: #2080DF;
            }

            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #828282;
                margin-bottom: 2px;
            }

            b {
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                color: #212121;
                display: block;
            }

            a {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #3B96EF;
                display: flex;
                align-items: center;
                margin-top: 4px;

                .svg {
                    margin-right: 8px;

                    svg {
                        fill: #3B96EF;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .ant-modal {
        &-close {
            display: none;
        }

    }

}