.popup {
  .ant-modal {
    &-header {}

    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      color: #212121;

    }

    &-close {
      top: 20px;
      right: 20px;

      &-x {
        width: unset;
        height: unset;
        line-height: unset;

        .svg {
          svg {
            height: 24px;
            width: 24px;
            fill: #212121;
          }
        }
      }
    }
  }

  &-body {
    margin-bottom: 24px;

    &-lang {}
  }

  &-footer {
    display: flex;
    align-items: center;

    .ant-btn {
      padding: 12px;
      max-width: 180px;
      width: 100%;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}

.theme {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;

  &.show {
    z-index: 999;

    .theme-wrapper {
      // transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }

  &-wrapper {
    cursor: -webkit-grab;
    padding: 20px;
    padding-top: 76px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.14);
    background-color: #fff;
    border-radius: 8px;
    width: 800px;
    transition: 0.3s ease-in-out;
    // transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }

  &-top {
    // padding: 20px;
    position: fixed;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(800px - 40px);

  }

  &-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #212121;
  }

  &-close {
    cursor: pointer;

    .svg svg {
      fill: #212121;
    }
  }

  &-list {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;

    &-item {
      border-radius: 8px;
      cursor: pointer;
      height: 130px;
      overflow: hidden;
      border: 2px solid transparent;
      position: relative;

      img {
        @include image()
      }

      &.active {
        border-color: blue;
      }

      span {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 2px 12px;
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        background: linear-gradient(180deg, #4BA0F3 0%, #197CDC 100%);
        border-radius: 16px;
      }
    }
  }

  &-footer {
    padding-top: 20px;
  }
}

.vdr {
  border: unset !important;
}
