.ant-popover {
    &-inner {
        &-content {
            max-width: 300px;
        }


    }

    &-buttons {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .ant-btn {
            margin: 0;
            padding: 6px 16px;

            &:not(:last-child) {
                margin-right: 8px;

            }
        }
    }
}