.search {
    padding: 12px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    position: relative;
    display: flex;
    max-width: 470px;
    width: 100%;
    @include devices(xll) {
        max-width: 300px;
    }


    .svg {
        opacity: 0.6;
        margin-right: 8px;

        svg {
            stroke: white;
        }
    }

    input {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: rgba(255, 255, 255, 1);
        border: none;
        background-color: transparent;
        outline: none;
        flex: 1;

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}