.table {
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;

  table {
    width: 100%;

    thead {
      background: #EFF7FF;
      padding: 0 16px;

      tr {
        width: 1%;

        th {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #4E7093;
          padding: 10px 16px;

          &:nth-child(2) {
            // padding-left: 8px;
            padding-left: 0;
          }

          &:first-child {
            width: 50px;
            padding-right: 0;
          }

          .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
          }

          .ant-checkbox+span {
            padding: 0;
            margin-left: 12px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #4E7093;
          }

          .ant-checkbox {
            top: 0;
          }

          &.nowrap {
            white-space: nowrap;
          }
        }
      }
    }

    tbody {
      background-color: white;

      tr {
        &:last-child {
          td {
            border-bottom: none;
          }
        }

        td {
          border-bottom: 1px solid #EBEBEB;
          padding: 10px 16px;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #313131;

          &.nowrap {
            white-space: nowrap;
          }

          &:first-child {
            width: 50px;
            padding-right: 0;
          }

          &:nth-child(2) {
            padding-left: 0;
          }

          &:last-child {
            width: 1%;
          }

          .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
          }

          .ant-checkbox+span {
            padding: 0;
            margin-left: 12px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #313131;
          }

          .ant-checkbox {
            top: 0;
          }

          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #3B96EF;
            display: flex;
            align-items: center;
            white-space: nowrap;

            .svg {
              margin-right: 8px;

              svg {
                width: 20px;
                height: 20px;
                fill: #3B96EF;
              }
            }
          }
        }
      }
    }
  }

  &-action {
    display: flex;
    align-items: center;

    .svg {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 8px;
      }

      &.edit {
        background-color: #E0EFFF;

        svg {
          fill: #3B96EF;
        }
      }

      &.delete {
        background: #FFE3E8;

        svg {
          fill: #EC3751;
        }
      }

      &.eye {
        background: #EDEDED;

        svg {
          stroke: #212121;
        }
      }

      &.key {
        background: #c7ffd4;

        svg {
          fill: #1fb141;

        }
      }

      &.saved {
        background: #F2F2F2;
        ;

        svg {
          stroke: #F3B94B;
        }

        &.active {
          svg {
            fill: #F3B94B;
          }
        }
      }
    }

    &-btn {
      min-width: 100px;
      text-align: center;
      margin-left: 8px;
      font-size: 14px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: linear-gradient(180deg, #4BA0F3 0%, #197CDC 100%);
      color: #fff;
    }
  }

  &-popup {
    display: flex;
    align-items: center;
    max-width: 460px;
    width: 100%;
    background: #F3F3F3;
    border-radius: 65px;
    padding: 16px;
    position: fixed;
    z-index: 4;
    bottom: 20px;
    // left: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    &>.svg {
      margin-right: 16px;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        fill: #CACACA;
        ;
      }
    }

    &>span {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #313131;
      display: flex;
      align-items: center;

      small {
        width: 33px;
        height: 20px;
        background: #E8E8E8;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
      }
    }

    .ant-btn {
      margin-left: auto;
      background: #EC3751;
      border-radius: 20px;
      padding: 8px 12px;
      color: #EC3751;

      .svg {
        margin-right: 4px;

        svg {
          fill: white;
          width: 20px;
          height: 20px;
        }
      }

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
      }
    }
  }

  &-empty {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .svg {
      margin-bottom: 16px;

      svg {
        stroke: #938CA5;
        width: 24px;
        height: 24px;
      }
    }

    span {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #898989;
    }
  }
}
