<template>
    <div class="filter">
        <div class="filter-header">
            <h3>Filter</h3>
            <SvgIcon name="close" @click="$store.commit('functions/setFilter', false)" />
        </div>
        <perfect-scrollbar ref="scroll" class="filter-body">
            <a-collapse v-model="activeKey" expandIconPosition="right">
                <template #expandIcon>
                    <SvgIcon name="angle-down" />
                </template>
                <a-collapse-panel v-if="filters.includes('position')" key="1" header="Lavozim">
                    <a-form-model-item :class="{ active: form.position }">
                        <a-select placeholder="Bo'limni tanlang" v-model="form.position">
                            <a-select-option value="1">
                                Test 1
                            </a-select-option>
                            <a-select-option value="2">
                                Test 2
                            </a-select-option>
                            <a-select-option value="3">
                                Test 3
                            </a-select-option>
                            <a-select-option value="4">
                                Test 4
                            </a-select-option>
                            <template #suffixIcon>
                                <SvgIcon name="angle-down" />
                            </template>
                        </a-select>
                        <span class="ant-my-placeholder">Bo'limni tanlang:</span>
                    </a-form-model-item>
                </a-collapse-panel>
                <a-collapse-panel v-if="filters.includes('date')" key="2" header="Sana">
                    <a-form-model-item :class="{ active: form.start_date }">
                        <a-date-picker placeholder="Boshlanish sanasi" v-model="form.start_date" format="DD.MM.YYYY"
                            valueFormat="DD.MM.YYYY">
                            <template #suffixIcon>
                                <SvgIcon name="calendar" />
                            </template>
                        </a-date-picker>
                        <span class="ant-my-placeholder">Boshlanish sanasi:</span>
                    </a-form-model-item>
                    <i class="stick"></i>
                    <a-form-model-item :class="{ active: form.end_date }">
                        <a-date-picker placeholder="Tugash sanasi" v-model="form.start_date" format="DD.MM.YYYY"
                            valueFormat="DD.MM.YYYY">
                            <template #suffixIcon>
                                <SvgIcon name="calendar" />
                            </template>
                        </a-date-picker>
                        <span class="ant-my-placeholder">Tugash sanasi:</span>
                    </a-form-model-item>
                </a-collapse-panel>
                <a-collapse-panel v-if="filters.includes('status')" key="3" header="Xolati">
                    <a-form-model-item :class="{ active: form.status }">
                        <a-select placeholder="Tanglang" v-model="form.status">
                            <a-select-option value="1">
                                Test 1
                            </a-select-option>
                            <a-select-option value="2">
                                Test 2
                            </a-select-option>
                            <a-select-option value="3">
                                Test 3
                            </a-select-option>
                            <a-select-option value="4">
                                Test 4
                            </a-select-option>
                            <template #suffixIcon>
                                <SvgIcon name="angle-down" />
                            </template>
                        </a-select>
                        <span class="ant-my-placeholder">Tanlang:</span>
                    </a-form-model-item>
                </a-collapse-panel>
                <a-collapse-panel v-if="filters.includes('order')" key="4" header="Buyruq raqami">
                    <a-form-model-item :class="{ active: form.order_number }">
                        <a-input placeholder="Kiriting"></a-input>
                        <span class="ant-my-placeholder">Kiriting:</span>
                    </a-form-model-item>
                </a-collapse-panel>
                <a-collapse-panel v-if="filters.includes('address')" key="5" header="Manzil">
                    <a-form-model-item :class="{ active: form.address }">
                        <a-select placeholder="Tanglang" v-model="form.address">
                            <a-select-option value="1">
                                Test 1
                            </a-select-option>
                            <a-select-option value="2">
                                Test 2
                            </a-select-option>
                            <a-select-option value="3">
                                Test 3
                            </a-select-option>
                            <a-select-option value="4">
                                Test 4
                            </a-select-option>
                            <template #suffixIcon>
                                <SvgIcon name="angle-down" />
                            </template>
                        </a-select>
                        <span class="ant-my-placeholder">Tanlang:</span>
                    </a-form-model-item>
                </a-collapse-panel>
            </a-collapse>
        </perfect-scrollbar>
        <div class="filter-footer">
            <a-button class="dark-blue">Tozalash</a-button>
            <a-button class="blue">Izlash</a-button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        filters: {
            type: Array,
            default(){
                return []
            }
        }
    },
    data() {
        return {
            activeKey: ['1', '2', '3', '4', '5'],
            form: {
                position: null,
                start_date: null,
                end_date: null,
                status: null,
                order_number: null,
                address: null
            }
        }
    }
}
</script>

<style>

</style>