<template>
  <a-layout-header class="header">
    <!-- <div class="header-search search">
            <SvgIcon name="search" />
            <input type="text" :placeholder="$t('Search')">
        </div> -->
    <div class="header-info">
      <div class="header-info-time">
        <span>{{ setTimer }}</span>
      </div>
      <i></i>
      <div class="header-info-date">
        <span>
          {{
            weeks[timer && timer.week_day] &&
            weeks[timer && timer.week_day].title &&
            weeks[timer && timer.week_day].title.uz
          }}
        </span>
        <small>
          {{ timer && timer.day + "-" }}
          {{
            month[timer && timer.month] &&
            month[timer && timer.month].title &&
            month[timer && timer.month].title.uz
          }}, {{ timer && timer.year }} {{ $t("Year") }}
        </small>
      </div>
    </div>
  </a-layout-header>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      isCreateModal: false,
      interval: null,
      time: "",
      weeks: {
        1: {
          title: {
            uz: "Dushanba",
            oz: "Душанба",
            ru: "Понедельник",
          },
        },
        2: {
          title: {
            uz: "Seshanba",
            oz: "Сешанба",
            ru: "Вторник",
          },
        },
        3: {
          title: {
            uz: "Chorshanba",
            oz: "Чоршанба",
            ru: "Среда",
          },
        },
        4: {
          title: {
            uz: "Payshanba",
            oz: "Пайшанба",
            ru: "Четверг",
          },
        },
        5: {
          title: {
            uz: "Juma",
            oz: "Жума",
            ru: "Пятница",
          },
        },
        6: {
          title: {
            uz: "Shanba",
            oz: "Шанба",
            ru: "Суббота",
          },
        },
        7: {
          title: {
            uz: "Yakshanba",
            oz: "Якшанба",
            ru: "Воскресенье",
          },
        },
      },
      month: {
        1: {
          title: {
            uz: "Yanvar",
            oz: "Январь",
            ru: "Январь",
          },
        },
        2: {
          title: {
            uz: "Fevral",
            oz: "Февраль",
            ru: "Февраль",
          },
        },
        3: {
          title: {
            uz: "Mart",
            oz: "Март",
            ru: "Март",
          },
        },
        4: {
          title: {
            uz: "Aprel",
            oz: "Апрель",
            ru: "Апрель",
          },
        },
        5: {
          title: {
            uz: "May",
            oz: "Май",
            ru: "Май",
          },
        },
        6: {
          title: {
            uz: "Iyun",
            oz: "Июнь",
            ru: "Июнь",
          },
        },
        7: {
          title: {
            uz: "Iyul",
            oz: "Июль",
            ru: "Июль",
          },
        },
        8: {
          title: {
            uz: "Avgust",
            oz: "Август",
            ru: "Август",
          },
        },
        9: {
          title: {
            uz: "Sentabr",
            oz: "Сентябрь",
            ru: "Сентябрь",
          },
        },
        10: {
          title: {
            uz: "Oktabr",
            oz: "Октябрь",
            ru: "Октябрь",
          },
        },
        11: {
          title: {
            uz: "Noyabr",
            oz: "Ноябрь",
            ru: "Ноябрь",
          },
        },
        12: {
          title: {
            uz: "Dekabr",
            oz: "Декабрь",
            ru: "Декабрь",
          },
        },
      },
      timer: {},
    };
  },
  computed: {
    // ...mapGetters('functions', ['timer']),
    ...mapGetters("auth", ["user"]),
    setTimer() {
      if (this.time) {
        let day = Math.floor(this.time / (3600 * 24));
        let hours = Math.ceil(this.time / 3600) - 1;
        let minutes = Math.ceil((this.time - hours * 3600) / 60) - 1;
        let seconds = this.time - hours * 3600 - minutes * 60 - 1;
        hours = hours - day * 24;
        hours = hours < 10 ? "0" + hours : hours;
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        return `${hours}:${minutes}`;
      } else {
        return "00:00:00";
      }
    },
  },
  async mounted() {
    let _vm = this;
    await _vm.fetchData();
    document.addEventListener("visibilitychange", function () {
      if (document.hidden) {
        // tab is now inactive
        clearInterval(_vm.interval);
        // temporarily clear timer using clearInterval() / clearTimeout()
      } else {
        _vm.fetchData();
        // tab is active again
        // restart timers
      }
    });
  },
  methods: {
    ...mapActions("functions", ["fetchTimer"]),
    closeCreateModal() {
      this.isCreateModal = false;
    },
    logOut() {
      this.$store.commit("auth/setState", { key: "access", value: null });
      this.$router.push("auth/sign-in");
    },
    async fetchData() {
      try {
        let { status, data } = await this.fetchTimer();
        if (status) {
          this.timer = data;
          this.time = (data && data.time_in_seconds) || 0;
          this.startTimer();
        }
      } catch (error) {
        console.error(error);
      }
    },
    startTimer() {
      this.interval = setInterval(() => {
        this.time += 1;
        // this.startTimer();
      }, 1000);
    },
  },
};
</script>

<style></style>
