<template>
  <a-layout-sider
    v-model="collapsed"
    :trigger="null"
    collapsible
    width="312px"
    class="sider"
  >
    <div class="sider-header">
      <div class="sider-header-trigger">
        <SvgIcon name="bars" @click="onClickTrigger"> </SvgIcon>
      </div>
      <div class="sider-header-logo">
        <!-- <img src="~/assets/images/logo.png" alt="logo" /> -->
        <h1 style="color: white;">MBF-ACADEMY</h1>
      </div>
    </div>
    <perfect-scrollbar ref="scroll">
      <a-menu mode="inline" :open-keys="openKeys" @openChange="onOpenChange">
        <template v-for="item1 in list">
          <a-sub-menu
            :key="'sub' + item1.id"
            v-if="item1.children && item1.children.length"
          >
            <span slot="title" class="sider-menu-title">
              <SvgIcon class="sider-menu-icon" :name="`menu/admin/${item1.icon}`" />
              <span>{{ item1.title && item1.title.uz }}</span>
              <SvgIcon class="sider-menu-angle" name="angle-top" />
            </span>
            <a-menu-item v-for="item2 in item1.children" :key="'child' + item2.id">
              <nuxt-link :to="item2.path" class="sider-menu-title">
                <SvgIcon class="sider-menu-icon" :name="`menu/admin/${item2.icon}`" />
                <span>{{ item2.title && item2.title.uz }}</span>
              </nuxt-link>
            </a-menu-item>
          </a-sub-menu>
          <a-menu-item :key="'single' + item1.id" v-else>
            <nuxt-link :to="item1.path" class="sider-menu-title">
              <SvgIcon
                class="sider-menu-icon"
                :name="`menu/admin/${item1.icon}`"
              ></SvgIcon>
              <span>{{ item1.title && item1.title.uz }}</span>
            </nuxt-link>
          </a-menu-item>
        </template>
      </a-menu>
    </perfect-scrollbar>
  </a-layout-sider>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      collapsed: false,
      rootSubmenuKeys: [],
      openKeys: [],
    };
  },
  methods: {
    onClickTrigger() {
      this.collapsed = !this.collapsed;
    },
    onOpenChange(openKeys) {
      this.$refs.scroll.$el.scrollTop = 0;
      const latestOpenKey = openKeys.find((key) => this.openKeys.indexOf(key) === -1);
      if (this.rootSubmenuKeys.indexOf(latestOpenKey) === -1) {
        this.openKeys = openKeys;
      } else {
        this.openKeys = latestOpenKey ? [latestOpenKey] : [];
      }
    },
  },
  computed: {
    ...mapGetters("menu", ["list"]),
    ...mapGetters("functions", ["isFilter"]),
  },
  mounted() {
    this.list.forEach((el) => {
      if (el.children) {
        this.rootSubmenuKeys.push(`sub${el.id}`);
      }
    });
  },
  watch: {
    isFilter(val) {
      if (val && this.collapsed) {
        this.onClickTrigger();
      }
    },
  },
};
</script>

<style></style>
