<template>
  <span>
    <FormCropImage
      v-if="withCropper"
      v-model="showCrop"
      :avatar="file"
      :ratio-width="ratioWidth"
      :ratio-height="ratioHeight"
      :quality="0.7"
      @onImageSelected="setImageExtention"
      @onSetImage="getImage"
    />
    <div v-if="withCropper" class="avatar-uploader">
      <div
        class="ant-upload ant-upload-select ant-upload-select-picture-card"
        @click="showModal(true)"
      >
        <span class="ant-upload" role="button" tabindex="0" @click="showModal(true)">
          <input
            ref="fileRef"
            accept="image/jpeg, image/png"
            style="display: none"
            type="file"
            multiple="false"
            v-bind="$attrs"
            @change="fileInputHandler"
          />
          <img v-if="imageUrl || file" :src="imageUrl || file" alt="avatar" />
          <div v-else class="avatar-uploader-click">
            <SvgIcon name="image" />
            <span>{{ $t("UploadImg") }}</span>
          </div>
        </span>
      </div>
    </div>
    <a-upload
      v-else
      name="avatar"
      list-type="picture-card"
      class="avatar-uploader"
      :show-upload-list="false"
      :before-upload="beforeUpload"
      :accept="accept"
      @change="handleChange"
    >
      <img v-if="imageUrl || file" :src="imageUrl || file" alt="avatar" />
      <div v-else class="avatar-uploader-click">
        <SvgIcon name="image" />
        <span>{{ $t("UploadImg") }}</span>
      </div>
    </a-upload>
  </span>
</template>
<script>
function getBase64(img, callback) {
  const reader = new FileReader();
  reader.addEventListener("load", () => callback(reader.result));
  reader.readAsDataURL(img);
}
export default {
  props: {
    accept: {
      type: String,
      default: "",
    },
    ratioWidth: {
      type: Number,
      default: 3,
    },
    ratioHeight: {
      type: Number,
      default: 4,
    },
    file: {
      type: [String, File],
      default: "",
    },
    withCropper: {
      type: Boolean,
      default: () => true,
    },
  },
  data() {
    return {
      loading: false,
      imageUrl: "",
      fileExtension: "png",
      showCrop: false,
    };
  },
  methods: {
    showModal(value) {
      // this.showForm = value;
      if (this.withCropper) this.showCrop = value;
      else {
        this.$refs.fileRef.click();
      }
    },
    handleChange(info) {
      if (info.file.status === "uploading") {
        this.loading = true;
        return;
      }
      if (info.file.status === "done") {
        getBase64(info.file.originFileObj, (imageUrl) => {
          this.imageUrl = imageUrl;
          this.loading = false;
        });
        this.$emit("change", info.file);
      }
    },
    beforeUpload(file) {
      const isJpgOrPng = file.type === "image/jpeg" || file.type === "image/png";
      if (!isJpgOrPng) {
        this.$message.error("You can only upload JPG file!");
      }
      //   const isLt2M = file.size / 1024 / 1024 < 2;
      //   if (!isLt2M) {
      //     this.$message.error("Image must smaller than 2MB!");
      //   }
      //   return isJpgOrPng && isLt2M;
      return isJpgOrPng;
    },

    setImageExtention(e) {
      this.fileExtension = e;
    },
    getImage({ file, orgFile }) {
      this.urltoFile(file, orgFile.name, `image/${this.fileExtension}`).then((item) => {
        getBase64(item, (url) => {
          this.imageUrl = url;
          this.loading = false;
        });
        this.$emit("change", item);
      });
    },
    fileInputHandler(event) {
      if (event && event.target.files) {
        for (const key in event.target.files) {
          if (event.target.files[key]) {
            const element = event.target.files[key];
            // if key not equal to length
            if (!isNaN(key)) {
              this.$set(this, "files", [
                {
                  fileTarget: element,
                  checked: false,
                  uzid: Math.random().toString().slice(2),
                },
              ]);
            }
          }
        }
        this.$emit("change", this.files);
      }
      this.$refs.fileRef.value = null;
    },
    urltoFile(url, filename, mimeType) {
      return fetch(url)
        .then(function (res) {
          return res.arrayBuffer();
        })
        .then(function (buf) {
          return new File([buf], filename, { type: mimeType });
        });
    },
  },
};
</script>
<style></style>
