<template>
  <!-- <div class="uploader-main _1">
    <a-upload-dragger :file-list="fileList" :remove="handleRemove" :before-upload="beforeUpload" name="file"
      :multiple="multiple" @change="handleChange" :accept="accept">
      <h3>{{$t('clickToUpload')}}</h3>
      <p>{{$t('uploadFile')}}</p>
    </a-upload-dragger>
  </div> -->
  <a-upload-dragger
    :remove="handleRemove"
    :before-upload="beforeUpload"
    :file-list="fileList"
    name="file"
    :multiple="multiple"
    @change="handleChange"
    class="upload"
  >
    <div class="upload-explanation">
      <div class="upload-explanation-svg">
        <SvgIcon name="upload-download" />
        <SvgIcon name="upload-x" />
        <SvgIcon name="upload-drag" />
      </div>
      <p>{{ $t("FileText") }}</p>
    </div>
  </a-upload-dragger>
</template>

<script>
export default {
  props: {
    files: {
      type: [Array, String],
    },
    accept: {
      type: String,
      default: "",
    },
    multiple: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      fileList: [],
    };
  },
  created() {
    if (this.files && this.files.length > 0) {
      this.fileList = [...this.files];
    }
  },
  methods: {
    // handleChange(info) {
    //   // console.log(info)
    //   if (info.file && info.fileList.length > 0) {
    //     if(this.multiple) {
    //       this.$emit('change', this.fileList);
    //     } else {
    //       this.$emit('change', info.file);
    //     }
    //     console.log('done')
    //   } else {
    //     this.$emit('change', []);
    //     console.log('error');
    //   }
    // },
    handleChange(info) {
      if (info.file && info.fileList.length > 0) {
        if (this.multiple) {
          this.$emit("change", this.fileList);
        } else {
          this.$emit("change", info.file);
        }
      } else {
        console.log("error");
        if (this.multiple) {
          this.$emit("change", []);
        } else {
          this.$emit("change", null);
        }
      }
    },
    handleRemove(file) {
      if (this.multiple) {
        const index = this.fileList.indexOf(file);
        const newFileList = this.fileList.slice();
        newFileList.splice(index, 1);
        this.fileList = newFileList;
      } else {
        this.fileList = [];
      }
    },
    beforeUpload(file) {
      if (this.multiple) {
        this.fileList = [...this.fileList, file];
        return false;
      } else {
        this.fileList = [file];
        return false;
      }
    },
  },
};
</script>

<style></style>
