<template>
  <a-upload-dragger
    class="ant-my-upload"
    name="file"
    @change="handleChange"
    :accept="accept"
  >
    <SvgIcon name="file-download" />
    <a @click.stop target="_blank" :href="file" v-if="file">
      {{ getFileName }}
    </a>
    <!-- <span v-else-if="file && file.name && !file.url">{{ file && file.name }}</span> -->
    <span v-else>{{ title }}</span>
    <a-icon
      @click.stop="handleRemove"
      class="delete-icon"
      type="delete"
      v-if="file"
    />
  </a-upload-dragger>
</template>

<script>
export default {
  props: {
    file: {
      type: [Object, String],
      default: null
    },
    accept: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "Passport hujjatini yuklang",
    },
  },
  data() {
    return {};
  },
  computed: {
    getFileName(){
      if (typeof this.file == "string"){
        let arr  = this.file.split("/");
        return arr[arr.length - 1];
      } else {
        return this.file.name;
      }
    }
  }, 
  methods: {
    handleRemove() {
      this.$emit("change", null);
    },
    handleChange(info) {
      if (info.file && info.fileList.length > 0) {
        this.$emit("change", info.file);
      } else {
        this.$emit("change", null);
        console.log("error");
      }
    },
  },
};
</script>

<style>
</style>