<template>
  <popup-layout
    Width="610px"
    @close="close"
    title="Qo'shish"
    :isVisible="isVisible"
    isFooter
  >
    <template #body>
      <a-form-model ref="form" :rules="rules">
        <a-row type="flex" :gutter="[16, 16]" class="mt-24 modal-add-wrapper">
          <a-col span="24">
            <a-row type="flex" :gutter="[16, 16]">
              <a-col span="24">
                <!-- <a-form-model-item :class="{ active: form.title }">
                  <a-input placeholder="Nomi" v-model="form.title" type="text" />
                  <span class="ant-my-placeholder">Nomi:</span>
                </a-form-model-item> -->
                <a-form-model-item :class="{ active: form.title }">
                  <a-select placeholder="Nomi" v-model="form.title">
                    <a-select-option
                      v-for="item in iconList"
                      :key="item.title"
                      :value="item.title"
                    >
                      {{ item.title }}
                    </a-select-option>
                    <template #suffixIcon>
                      <SvgIcon name="angle-down" />
                    </template>
                  </a-select>
                  <span class="ant-my-placeholder">Nomi:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: form.type }">
                  <a-select placeholder="Turini tanlang" v-model="form.type">
                    <a-select-option
                      v-for="item in categoryList"
                      :key="item.id"
                      :value="item.id"
                    >
                      {{ item.name[$i18n.locale] }}
                    </a-select-option>
                    <template #suffixIcon>
                      <SvgIcon name="angle-down" />
                    </template>
                  </a-select>
                  <span class="ant-my-placeholder">Turini tanlang:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: form.value }">
                  <a-input placeholder="Qiymati" v-model="form.value" type="text" />
                  <span class="ant-my-placeholder">Qiymati:</span>
                </a-form-model-item>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-form-model>
    </template>
    <template #footer>
      <a-button @click="close" class="grey"> Bekor qilish </a-button>
      <a-button @click="Save" class="blue"> Saqlash </a-button>
    </template>
  </popup-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  props: {
    isVisible: {
      type: Boolean,
      default() {
        return false;
      },
    },
  },
  data() {
    return {
      form: {
        title: "",
        type: null,
        value: "",
      },
      iconList: [
        {
          title: "facebook",
        },
        {
          title: "instagram",
        },
        {
          title: "linkedin",
        },
        {
          title: "telegram",
        },
        {
          title: "twitter",
        },
        {
          title: "phone",
        },
        {
          title: "email",
        },
      ],
      categoryList: [
        {
          id: 1,
          category: "social-link",
          name: {
            uz: "Social link",
            oz: "Social link",
            ru: "Social link",
            en: "Social link",
          },
          lang: false,
        },
        {
          id: 2,
          category: "email",
          name: {
            uz: "Email",
            oz: "Email",
            ru: "Email",
            en: "Email",
          },
          lang: false,
        },
        {
          id: 3,
          category: "phone_number",
          name: {
            uz: "Phone number",
            oz: "Phone number",
            ru: "Phone number",
            en: "Phone number",
          },
          lang: false,
        },
      ],
      category: {},
      rules: {},
    };
  },
  computed: {},
  methods: {
    ...mapActions("admin/contact", ["postDetail"]),

    close() {
      this.$emit("close");
    },

    async Save() {
      try {
        this.postDetail(this.form);
        this.close();
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>

<style></style>
