<template>
  <popup-layout
    Width="610px"
    @close="close"
    title="Yangilash"
    :isVisible="isVisible"
    isFooter
  >
    <template #body>
      <a-form-model ref="form" :rules="rules">
        <a-row type="flex" :gutter="[16, 16]" class="mt-24 modal-add-wrapper">
          <a-col span="24">
            <a-row type="flex" :gutter="[16, 16]">
              <a-col span="24">
                <a-form-model-item :class="{ active: detail.title }">
                  <a-select placeholder="Nomi" v-model="detail.title">
                    <a-select-option
                      v-for="item in iconList"
                      :key="item.title"
                      :value="item.title"
                    >
                      {{ item.title }}
                    </a-select-option>
                    <template #suffixIcon>
                      <SvgIcon name="angle-down" />
                    </template>
                  </a-select>
                  <span class="ant-my-placeholder">Nomi:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: detail.type }">
                  <a-select placeholder="Turini tanlang" v-model="detail.type">
                    <a-select-option
                      v-for="item in categoryList"
                      :key="item.id"
                      :value="item.id"
                    >
                      {{ item.name[$i18n.locale] }}
                    </a-select-option>
                    <template #suffixIcon>
                      <SvgIcon name="angle-down" />
                    </template>
                  </a-select>
                  <span class="ant-my-placeholder">Turini tanlang:</span>
                </a-form-model-item>
              </a-col>
              <a-col span="24">
                <a-form-model-item :class="{ active: detail.value }">
                  <a-input placeholder="Qiymati" v-model="detail.value" type="text" />
                  <span class="ant-my-placeholder">Qiymati:</span>
                </a-form-model-item>
              </a-col>
            </a-row>
          </a-col>
        </a-row>
      </a-form-model>
    </template>
    <template #footer>
      <a-button @click="close" class="grey"> Bekor qilish </a-button>
      <a-button @click="Update" class="blue"> Saqlash </a-button>
    </template>
  </popup-layout>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    isVisible: {
      type: Boolean,
      default() {
        return false;
      },
    },
    value: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      detail: {
        title: "",
        category: "",
        value: "",
      },
      categoryList: [
        {
          id: 1,
          category: "social-link",
          name: {
            uz: "Social link",
            oz: "Social link",
            ru: "Social link",
            en: "Social link",
          },
          lang: false,
        },
        {
          id: 2,
          category: "email",
          name: {
            uz: "Email",
            oz: "Email",
            ru: "Email",
            en: "Email",
          },
          lang: false,
        },
        {
          id: 3,
          category: "phone_number",
          name: {
            uz: "Phone number",
            oz: "Phone number",
            ru: "Phone number",
            en: "Phone number",
          },
          lang: false,
        },
      ],
      iconList: [
        {
          title: "facebook",
        },
        {
          title: "instagram",
        },
        {
          title: "linkedin",
        },
        {
          title: "telegram",
        },
        {
          title: "twitter",
        },
      ],
      category: {},
      rules: {
        // title: [
        //   { required: true, trigger: "change", message: "To'ldirilishi shart" },
        // ],
        // phone_number: [
        //   { required: true, trigger: "change", message: "To'ldirilishi shart" },
        // ],
      },
    };
  },
  computed: {},
  created() {
    this.detail = { ...this.value };
  },
  methods: {
    ...mapActions("admin/contact", ["updateDetail"]),

    close() {
      this.$emit("close");
    },

    async Update() {
      try {
        await this.updateDetail({
          id: this.value.id,
          form: this.detail,
        });
        this.close();
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>

<style></style>
